:root {
    --reading-width: 34em;
    --user-height: 37px;
}

body {
    color: #c7d5e0;
    background: #1b2838;
    font: 95%/1.4 sans-serif;
}
@media (max-width: 380px) {
    body {
        font-size: 4vw;
    }
}

a {
    color: #e1c386;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9e814c;
}

#user {
    position: relative;
    z-index: 2;
    height: var(--user-height);
    margin-bottom: -2.5vw;
    padding: 6px;

    text-align: right;
    font-size: 80%;
}
#user .avatar {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    margin: 0 .5em;
    line-height: 0;
    vertical-align: middle;

    background: #3f7085;
    border: 1px solid #4c92ae;
}

#header {
    overflow: hidden;

    background: radial-gradient(25% 45% at center 60%, #212329, transparent);
}
#header, #footer {
    background-color: #171a21;
}
#header > .title {
    position: relative;
    z-index: 1;

    font: calc(30px + 8vw) Lobster, cursive;
    transform: rotate(-1deg);
}
@media (min-width: 1160px) {
    #header > .title {
        font-size: 123px;
    }
}
#header > .title:before{
    content: attr(data-title);
    position: absolute;
    width: 100%;
    top: 1px;
    left: -1px;
    pointer-events: none;

    text-align: center;
    background: linear-gradient(179deg, #e6c88a 20%, #665233, #9e814c 90%);
    color: transparent;
    -webkit-background-clip: text;
}
#lin, #lout {
    display: none;
}
.lout #lout, .lin #lin {
    display: block;
    line-height: var(--user-height);
}

h1 {
    color: #9e814c;

    text-align: center;
    text-shadow:
        0 1px 0 rgb(158, 129, 76),
        0 2px 0 rgb(143, 116, 70),
        0 3px 0 rgb(130, 105, 64),
        0 4px 0 rgb(115, 93, 57),
        0 5px 0 rgb(102, 82, 51),
        -1px -1px 1px #fffccc,
        0 6px 1px rgba(0, 0, 0, 0.0980392),
        0 0 5px rgba(0, 0, 0, 0.0980392),
        0 1px 3px rgba(0, 0, 0, 0.298039),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.247059),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.14902)
    ;
}

p {
    max-width: var(--reading-width);
    margin: 3vh auto;

    text-align: center;
}

em {
    font-style: italic;
}

button {
    margin: 0 .5em;
    padding: .3em .7em .4em .6em;
    border: 1px solid #575a80;
    line-height: 1;

    color: #97a5cf;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #272a31;
}

dl {
    display: inline-block;
}
dt, dd {
    display: inline;
}
dt {
    font-weight: bold;
}

td {
    vertical-align: middle;
}

table {
    width: 100%;
    margin: 1.5em auto;
    line-height: 1;
}
@media (max-width: 649px) {
    table {
        font-size: 85%;
    }
}
thead {
    font-weight: bold;
}
thead td {
    padding-bottom: .5em;
}
td img {
    max-width: 100%;
    min-width: 80px;
}
tbody > tr.a > td:nth-child(n+2),
.r\&f tr:nth-child(2n-1) > td {
    background-color: #1a2334;
}
tbody > tr.a + tr > td {
    padding-top: .5vh;
    padding-bottom: .5vh;
}
td:nth-child(1) {
    line-height: 0;
    text-align: right;
}
td:nth-child(1) > a {
    display: inline-block;
}
td:nth-child(2) {
    padding-left: .5vw;
    padding-right: .5vw;
}
td:nth-child(3) {
    padding-right: .5vw;

    text-align: center;
}
td.ad {
    padding-left: 64px;
}

a.owned {
    position: relative;
}
a.owned > img {
    opacity: .3;
}
a.owned:before {
    content: attr(data-content);
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 50%;
    max-width: 0;
    height: 18px;
    line-height: 19px;
    padding-left: 18px;
    margin-top: -9px;
    overflow: hidden;
    white-space: nowrap;

    color: #111;
    background: #4F95BD url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="640" height="640">\
        <path d="M0 0L640 0 640 160 0 160 0 0ZM0 240L640 240 640 400 0 400 0 240ZM0 480L640 480 640 640 0 640 0 480Z"/>\
        </svg>') no-repeat 5px 50%;
    background-size: 8px 8px;
    font-size: 8pt;
    text-transform: uppercase;
    transition: max-width .3s, padding .2s;
}
a.owned:hover:before {
    max-width: 100%;
    padding-right: 5px;
}

.slogan {
    padding-bottom: .9em;

    font: calc(6px + 1vw)/.8 Codystar;
    color: #b3b5bd;
    text-shadow: 0 0 0 #b3b5bd, 0 0 3px #989976, 1px 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
}
@media (min-width: 1300px) {
    .slogan {
        font-size: 19px;
    }
}
.d {
    font-size: 75%;
}

.countdown {
    position: absolute;
    padding: .5em;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);

    color: #919599;
    background: #171b22;
    font: italic 75%/.8 Cousine;
    text-transform: uppercase;
}
@keyframes fadeIn {
    from { color: rgba(186, 190, 194, .2); }
}
.countdown.ready, .countdown.ready > a {
    animation: fadeIn .75s infinite alternate;
}
@media (max-width: 860px) {
    .countdown {
        font-size: 65%;
    }
}

.body {
    position: relative;
    padding: calc(1em + 1.5vh) 0;

    background: linear-gradient(180deg, #2b4a70, #1f2e40 6px, #1b2838 50px);
}

.page {
    margin: 0 auto;
    max-width: 864px;
}

.links {
    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    line-height: 1.5;
}
.links a {
    margin: 0 .5em;
}

p.note {
    margin-top: -.75em;

    opacity: .8;
    font-size: 70%;
}
p.note:before {
    content: 'Note';
    margin-right: .25em;

    font-size: 90%;
    text-transform: uppercase;
    color: #818b91;
}

.movement {
    content: '';
    display: inline-block;
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-right: 1px;
    vertical-align: middle;

    position: relative;
    z-index: 0;

    opacity: .9;
    text-align: center;
    font-weight: bold;
    cursor: default;
}
.movement.none {
    color: #b89f76;
    font-weight: bold;
}
.movement.pos, .movement.neg {
    font-size: 79%;
    color: #e7f7c8;
}
.movement.neg {
    color: #f7d3cb;
}

.movement:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
}
.movement.new:before {
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    background: #e6d44e;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.movement.none:before {
    background: #574d3e;
    clip-path: inset(14% 14.5%);
    opacity: .5;
}
.movement.pos:before {
    top: -3px;
    background: #618037;
    clip-path: polygon(20% 100%, 20% 50%, 0% 50%, 50% 0%, 100% 50%, 80% 50%, 80% 100%);
}
.movement.neg:before {
    top: 2px;
    background: #804539;
    clip-path: polygon(20% 0%, 20% 50%, 0% 50%, 50% 100%, 100% 50%, 80% 50%, 80% 0%);
}
@media (max-width: 649px) {
    .movement {
        width: 14px;
        height: 14px;
        line-height: 14px;
    }
    .movement.pos:before {
        top: -2px;
    }
    .movement.neg:before {
        top: 1px;
    }
}

#ranking .title {
    vertical-align: middle;
}

.genre, .genre:visited {
    margin-left: .25em;
    padding: .19em .6em;
    border-radius: 2px;
    white-space: nowrap;

    font-size: 70%;
    color: #67c1f5;
    background: rgba(103, 193, 245, 0.2);
}
.genre:hover {
    text-decoration: none;
    color: #e6f7ff;
    background: rgba(103, 193, 245, 0.5);
}

.date {
    margin-left: .25em;
    font-size: 85%;

    white-space: nowrap;
    color: #cccecf;
}

.platforms {
    margin-left: .25em;
    vertical-align: sub;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    opacity: .3;
}
.platforms > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}
@media (max-width: 599px) {
    .platforms > span {
        width: 15px;
        height: 15px;
    }
}
.platforms > span[title=Windows] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png?v=3);
}
.platforms > span[title=Mac] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png);
}
.platforms > span[title=Linux] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png);
}
.platforms > span[title='HTC Vive'] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_htcvive.png);
}
.platforms > span[title='Occulus Rift'] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_oculusrift.png);
}
.platforms > span[title='Windows Mixed Reality'] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_windowsmr.png);
}

.score {
    font-weight: bold;
}

.rating, .votes {
    font-size: 80%;
}
.votes {
    display: inline-block;
    clear: left;
}

caption {
    margin-bottom: .5em;

    font-weight: bold;
}

.r\&f {
    columns: 2 250px;
    margin: 0 1.5em;
    text-align: center;
}
.r\&f > * {
    width: auto;
    max-width: var(--reading-width);
    text-align: left;
}
.r\&f > :nth-child(2) {
    display: inline-block;
}
.r\&f img {
    height: 34px;
}

.algo {
    text-transform: lowercase;
    text-align: center;
    font-size: 70%;
    opacity: .06;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 2em 1.5em;

    line-height: 1.5;
}
#footer > * {
    max-width: 18em;
}
#footer > :nth-child(n+2) {
    margin-left: 4%;
}
#footer h2 {
    margin-bottom: .8em;
}
#footer p {
    margin: 1em 0;
}
#footer p:last-of-type {
    margin-bottom: 0;
}
#footer p, #footer li {
    text-align: left;
    font-size: 80%;
}
#footer img {
    height: 16px;
    opacity: .65;

    vertical-align: text-top;
}
#footer a {
    color: #9e814c;
}
#footer > :nth-child(2) img:first-of-type {
    margin-right: .25em;
}
@media (max-width: 780px) {
    #footer {
        flex-direction: column;

        line-height: inherit;
    }
    #footer > :nth-child(n+2) {
        margin: 1.5em 0 0;
    }
}

a.twitter {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 0;
    margin-left: .25em;
    padding-top: 20px;
    vertical-align: text-bottom;

    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%3E%3Cpath%20fill%3D%22%231DA1F2%22%20d%3D%22M125.669%2C362.624c150.87%2C0%2C233.375-124.991%2C233.375-233.375c0-3.552-0.072-7.088-0.234-10.604%0D%0A%20c16.015-11.577%2C29.936-26.023%2C40.919-42.469c-14.696%2C6.528-30.514%2C10.929-47.104%2C12.912c16.935-10.153%2C29.937-26.221%2C36.067-45.373%0D%0A%20c-15.853%2C9.396-33.4%2C16.229-52.082%2C19.909c-14.968-15.942-36.284-25.914-59.873-25.914c-45.301%2C0-82.036%2C36.734-82.036%2C82.017%0D%0A%20c0%2C6.438%2C0.722%2C12.697%2C2.128%2C18.703c-68.168-3.427-128.616-36.068-169.067-85.697c-7.051%2C12.118-11.11%2C26.202-11.11%2C41.225%0D%0A%20c0%2C28.457%2C14.482%2C53.578%2C36.501%2C68.275c-13.453-0.414-26.096-4.11-37.149-10.261c-0.018%2C0.342-0.018%2C0.685-0.018%2C1.046%0D%0A%20c0%2C39.729%2C28.277%2C72.893%2C65.806%2C80.414c-6.89%2C1.875-14.139%2C2.886-21.623%2C2.886c-5.285%2C0-10.424-0.524-15.419-1.481%0D%0A%20c10.441%2C32.589%2C40.72%2C56.304%2C76.625%2C56.973c-28.078%2C22-63.443%2C35.111-101.873%2C35.111c-6.619%2C0-13.147-0.38-19.566-1.138%0D%0A%20C36.239%2C349.047%2C79.341%2C362.624%2C125.669%2C362.624%22%2F%3E%3C%2Fsvg%3E%0D%0A');
    background-size: 20px 20px;
}

.fixedlinks {
    position: fixed;
    bottom: .7vh;
    right: .7vw;
}
.fixedlinks > :first-child {
    margin-right: .2em;
}
.fixedlinks > a {
    text-transform: uppercase;
    font-size: 85%;
    color: inherit;
    opacity: .2;
    transition: opacity .1s;
}
.fixedlinks > a:hover {
    opacity: .6;
    text-decoration: none;
}
a[href='#header']:before {
    content: '▲ ';
}
a[href='#footer']:before {
    content: '▼ ';
}
