body {
    color: #c7d5e0;
    background: #171a21;
    font: 95%/1.5 sans-serif;
}

a {
    color: #e1c386;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9e814c;
}

#header {
    overflow: hidden;

    background: radial-gradient(30% 45% at center 60%, #212329, transparent);
}
#header > .title {
    position: relative;

    margin: .2em;
    margin-top: .1em;

    font: 920% Lobster, cursive;
    transform: rotate(-1deg);
}
#header > .title:before{
    content: attr(data-title);
    position: absolute;
    width: 100%;
    top: 1px;
    left: -1px;
    pointer-events: none;

    text-align: center;
    background: linear-gradient(179deg, #e6c88a 20%, #665233, #9e814c 90%);
    color:transparent;
    -webkit-background-clip: text;
}
h1 {
    color: #9e814c;

    text-align: center;
    text-shadow:
        0 1px 0 rgb(158, 129, 76),
        0 2px 0 rgb(143, 116, 70),
        0 3px 0 rgb(130, 105, 64),
        0 4px 0 rgb(115, 93, 57),
        0 5px 0 rgb(102, 82, 51),
        -1px -1px 1px #fffccc,
        0 6px 1px rgba(0, 0, 0, 0.0980392),
        0 0 5px rgba(0, 0, 0, 0.0980392),
        0 1px 3px rgba(0, 0, 0, 0.298039),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.247059),
        0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.14902)
    ;
}

p {
    margin: 1em 0;
    text-align: center;
}

em {
    font-style: italic;
}

td {
    vertical-align: middle;
}

table {
    width: 100%;
    margin: 2em auto;
    border-collapse: collapse;
    line-height: 1.2;
}
thead {
    font-weight: bold;
}
thead td {
    padding-bottom: .5em;
}
tbody > tr:nth-child(2n-1) > td:nth-child(n+2) {
    background-color: #1a2334;
}
tbody > tr:nth-child(2n) > td {
    padding-top: 6px;
    padding-bottom: 6px;
}
td:nth-child(1) {
    line-height: 0;
    text-align: right;
}
td:nth-child(1) > a {
    display: inline-block;
}
td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}
td:nth-child(3) {
    padding-right: 10px;
    white-space: nowrap;
}

.body {
    padding: 2em;
    background: #1b2838;
}

.page {
    margin: 0 auto;
    width: 864px;
}

.title {
    vertical-align: middle;
}

.genre, .genre:visited {
    margin-left: .25em;
    padding: 3px 7px;
    border-radius: 2px;

    font-size: 11px;
    color: #67c1f5;
    background: rgba(103, 193, 245, 0.2);
}
.genre:hover {
    text-decoration: none;
    color: #cef;
    background: rgba(103, 193, 245, 0.5);
}

.date {
    margin-left: .25em;
    font-size: 90%;

    white-space: nowrap;
    color: #cccecf;
}
tbody > tr:nth-child(-n+10) .date {
    font-size: .9rem;
}

.score {
    font-weight: bold;
}

.votes {
    font-size: 85%;
}

#footer {
    display: flex;
    justify-content: center;
    margin: 2em;
}
#footer > :nth-child(2) {
    margin-left: 10em;
    align-self: center;
}
#footer a {
    color: #9e814c;
}

.fixedlinks {
    position: fixed;
    bottom: .7em;
    right: 1em;
}
.fixedlinks > a {
    text-transform: uppercase;
    font-size: 85%;
    color: inherit;
    opacity: .15;
    transition: opacity .1s;
}
.fixedlinks > a:hover {
    opacity: .6;
    text-decoration: none;
}
a[href='#header']:before {
    content: '▲ ';
}
a[href='#footer']:before {
    content: '▼ ';
}
