@import "title.css";

:root {
    --reading-width: 34em;
    --user-height: 37px;
    --patreon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 96"><path fill="white" d="M64.11.1C44.26.1 28.11 16.25 28.11 36.1c0 19.79 16.15 35.89 36.001 35.89 19.79 0 35.89-16.1 35.89-35.89C100 16.249 83.9.1 64.11.1"/><path fill="%23F96854" d="M.012 95.988H17.59V.1H.012z"/></svg>');
    --steam: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%23c7d5e0" d="M127.779 0C60.42 0 5.24 52.412 0 119.014l68.724 28.674a35.812 35.812 0 0 1 20.426-6.366c.682 0 1.356.019 2.02.056l30.566-44.71v-.626c0-26.903 21.69-48.796 48.353-48.796 26.662 0 48.352 21.893 48.352 48.796 0 26.902-21.69 48.804-48.352 48.804-.37 0-.73-.009-1.098-.018l-43.593 31.377c.028.582.046 1.163.046 1.735 0 20.204-16.283 36.636-36.294 36.636-17.566 0-32.263-12.658-35.584-29.412L4.41 164.654c15.223 54.313 64.673 94.132 123.369 94.132 70.818 0 128.221-57.938 128.221-129.393C256 57.93 198.597 0 127.779 0zM80.352 196.332l-15.749-6.568c2.787 5.867 7.621 10.775 14.033 13.47 13.857 5.83 29.836-.803 35.612-14.799a27.555 27.555 0 0 0 .046-21.035c-2.768-6.79-7.999-12.086-14.706-14.909-6.67-2.795-13.811-2.694-20.085-.304l16.275 6.79c10.222 4.3 15.056 16.145 10.794 26.46-4.253 10.314-15.998 15.195-26.22 10.895zm121.957-100.29c0-17.925-14.457-32.52-32.217-32.52-17.769 0-32.226 14.595-32.226 32.52 0 17.926 14.457 32.512 32.226 32.512 17.76 0 32.217-14.586 32.217-32.512zm-56.37-.055c0-13.488 10.84-24.42 24.2-24.42 13.368 0 24.208 10.932 24.208 24.42 0 13.488-10.84 24.421-24.209 24.421-13.359 0-24.2-10.933-24.2-24.42z"/></svg>');
    --discord: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 245 240'%3e%3cpath fill='white' d='M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zm36.5 0c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z'/%3e%3cpath fill='white' d='M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z'/%3e%3c/svg%3e");
    --twitter: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath fill='%231da1f3' d='M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z'/%3e%3c/svg%3e");
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #c7d5e0;
    background: #1b2838;
    font: 95%/1.4 sans-serif;
}
@media (max-width: 380px) {
    body {
        font-size: 4vw;
        line-height: 1.3;
    }
}

a {
    color: #cfab72;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9e814c;
}

#user {
    position: relative;
    z-index: 2;
    height: var(--user-height);
    margin-bottom: -2.5vw;
    padding: 6px;

    text-align: right;
    font-size: 80%;
}
#user .avatar {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    margin: 0 .5em;
    line-height: 0;
    vertical-align: middle;

    background: #3f7085;
    border: 1px solid #4c92ae;
}

#header {
    overflow: hidden;
    flex-shrink: 0;

    background: radial-gradient(25% 45% at center 60%, #212329, transparent);
}
#header, #footer {
    background-color: #171a21;
}
#lin, #lout {
    display: none;
}
.lout #lout, .lin #lin {
    display: block;
    line-height: var(--user-height);
}
#login {
    padding-left: calc(.6em + 17px);

    background-image: var(--steam);
    background-repeat: no-repeat;
    background-position: 7px 51%;
    background-size: 13px;
}

p {
    margin: 1.5em auto;

    text-align: justify;
}

em {
    font-style: italic;
}

button {
    margin: 0 .5em;
    padding: .3em .6em .4em;
    border: 1px solid #575a80;
    line-height: 1;

    color: #97a5cf;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #272a31;
}

dl {
    display: inline-block;
}
dt, dd {
    display: inline;
}
dt {
    font-weight: bold;
}

td {
    vertical-align: middle;
}

table {
    width: 100%;
    margin: 1.5em auto;
    line-height: 1;
}
@media (max-width: 649px) {
    table {
        font-size: 85%;
    }
}
thead {
    font-weight: bold;
}
thead td {
    padding-bottom: .5em;
}
td:first-child img {
    max-width: 100%;
    min-width: 80px;
}
tbody > tr.a > td:nth-child(n+2),
.r\&f li:nth-child(2n-1) > * {
    background-color: #1a2334;
}
tbody > tr:not(.a) > td:not(.ad) {
    padding-top: 6px;
    padding-bottom: 6px;
}
td:nth-child(1) {
    line-height: 0;
    text-align: right;
}
td:nth-child(1) > a {
    display: inline-block;
}
td:nth-child(2),
.r\&f li > :nth-child(2) {
    padding-left: .5vw;
    padding-right: .5vw;
}
td:nth-child(3) {
    min-width: 4em; /* Fix row spacing issue on Chrome mobile. */
    padding-right: .5vw;

    text-align: center;
}

a.owned {
    position: relative;
}
a.owned > img {
    opacity: .3;
}
a.owned:before {
    content: attr(data-content);
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 50%;
    max-width: 0;
    height: 18px;
    line-height: 19px;
    padding-left: 18px;
    margin-top: -9px;
    overflow: hidden;
    white-space: nowrap;

    color: #111;
    background: #4F95BD url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22640%22%20height%3D%22640%22%3E%3Cpath%20d%3D%22M0%200L640%200%20640%20160%200%20160%200%200ZM0%20240L640%20240%20640%20400%200%20400%200%20240ZM0%20480L640%20480%20640%20640%200%20640%200%20480Z%22%2F%3E%3C%2Fsvg%3E') no-repeat 5px 50%;
    background-size: 8px 8px;
    font-size: 8pt;
    text-transform: uppercase;
    transition: max-width .3s, padding .2s;
}
a.owned:hover:before {
    max-width: 100%;
    padding-right: 5px;
}

.slogan {
    padding-bottom: .9em;

    font: calc(6px + 1vw)/.8 Codystar;
    color: #b3b5bd;
    text-shadow: 0 0 0 #b3b5bd, 0 0 3px #989976, 1px 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
}
@media (min-width: 1300px) {
    .slogan {
        font-size: 19px;
    }
}
.d {
    font-size: 80%;
}

ol.menu {
    width: 100%;
    height: 36px;
    z-index: 2;
    flex-shrink: 0;
    /* Google cache fix for fixed menu. */
    top: 0;

    white-space: nowrap;
    text-align: center;
    background: linear-gradient(180deg, #14161c 70%, #171a21);
}
ol.menu > li {
    position: relative;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    margin: 0 1.63%;
    padding: 0 1%;

    cursor: pointer;
    color: #9e814c;
}
ol.menu > li:after {
    content: '▼';
    position: relative;
    top: -2px;
    line-height: 1;

    font-size: 65%;
    transition: top .15s;
}
ol.menu > li:hover:after {
    top: 1px;
}
ol.menu > li > a {
    color: #b3b5bd;
    text-decoration: none;
    transition: color .3s;
}
ol.menu > li:hover > a {
    color: #cfab72;
}
/* First level (some rules cascade to second level) */
ol.menu > li ol {
    position: absolute;
    top: 100%;
    left: 50%;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    transform: translate(-50%, 0);

    text-align: left;
    background: #171a21;
    border-radius: 0 0 2px 2px;
    transition: max-height .3s .2s;
    box-shadow: 0 2px 3px rgba(38, 61, 91, .43);
}
ol.menu > li:hover > ol,
ol.menu > li > ol > li:hover > ol {
    overflow: visible;
    max-height: 50vh;
    transition-delay: 0s;
}
ol.menu > li > ol > li {
    position: relative;
}
ol.menu > li ol li {
    display: block;
    line-height: 1;

    background: linear-gradient(90deg, transparent, #07080a, transparent) no-repeat bottom;
    background-size: 95% 1px;
}
ol.menu > li > ol li:last-of-type {
    background: none;
    border-radius: 0 0 2px 2px;
}
ol.menu > li ol li a:not([href]):after {
    content: '▶';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);

    font-size: 65%;
    transition: right .15s;
}
ol.menu > li ol li:hover a:not([href]):after {
    right: calc(1em - 3px);
}
ol.menu > li > ol li:hover {
    background: linear-gradient(90deg, #9e814c, #cfab72, #9e814c);
    text-decoration: none;
}
ol.menu > li ol li > a {
    display: block;
    min-width: 45px;
    padding: calc(.2em + 3px) .8em calc(.2em + 4px);
}
ol.menu > li ol li > a:last-of-type {
    padding-bottom: calc(.2em + 3px);
}
ol.menu > li > ol li:hover > a {
    color: #07080a;
    text-shadow: 1px 1px 1px #cfab72;
    text-decoration: none;
}
/* Second level */
ol.menu > li > ol > li > ol {
    position: absolute;
    top: 0;
    left: 99.5%;
    transform: none;
}
@media (max-width: 620px) {
    ol.menu > li:nth-child(5) > ol > li > ol {
        left: auto;
        right: 99.5%;
    }
}
/* Special */
ol.menu > li:nth-child(2) > ol > li:nth-last-of-type(3) > a {
    padding-left: 2.05em;

    background: var(--patreon) no-repeat calc(.8em + 2px) 50%;
    background-size: 13px;
}
ol.menu > li:nth-child(2) > ol > li:nth-last-of-type(2) > a {
    padding-left: 2.05em;

    background: var(--twitter) no-repeat calc(.8em - 2px) 50%;
    background-size: 18px;
}
ol.menu > li:nth-child(2) > ol > li:nth-last-of-type(2):hover {
    background-image: linear-gradient(90deg, #1572a3, #309bd9, #1572a3);
}
ol.menu > li:nth-child(2) > ol > li:nth-last-of-type(2):hover > a {
    text-shadow: 1px 1px 1px #309bd9;
}
ol.menu > li:nth-child(2) > ol > li:last-of-type > a {
    padding-left: 2.05em;

    background: var(--discord) no-repeat calc(.8em - 2px) 50%;
    background-size: 19px;
}
ol.menu > li:nth-child(2) > ol > li:last-of-type:hover {
    background-image: linear-gradient(90deg, #4b60a6, #7289da, #4b60a6);
}
ol.menu > li:nth-child(2) > ol > li:last-of-type:hover > a {
    text-shadow: 1px 1px 1px #7289da;
}

ol.menu > li:nth-child(4) > ol,
ol.menu > li:nth-child(5) > ol > li:first-of-type > ol {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 85%;
}
ol.menu > li:nth-child(5) > ol > li:first-of-type > ol {
    font-size: 90%;
    text-align: center;
}
ol.menu > li ol.t11g {
    overflow: hidden !important;
}

.countdown {
    position: absolute;
    padding: .5em .7em;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);

    color: #919599;
    background: #171b22;
    border: 1px solid #22344b;
    border-top-width: 0;
    border-left-width: 0;
    border-radius: 0 0 3px 3px;
    font: italic 75%/.8 Cousine;
    text-transform: uppercase;
}
.countdown > span {
    color: #9fa6b3;
}
.countdown.ready, .countdown.ready > a {
    animation: pulse .75s infinite alternate;
}
@keyframes pulse {
    0% { color: rgba(186, 190, 194, .2); }
}
.countdown.building > span {
    position: relative;
    top: 0;
    animation: bounce 1.5s ease-out infinite;
}
.countdown.building > span:nth-child(2) {
    animation-delay: .1s;
}
.countdown.building > span:nth-child(3) {
    animation-delay: .2s;
}
@keyframes bounce {
    20% { top: -.5em; }
    30% { top: 0; }
}
@media (max-width: 860px) {
    .countdown {
        font-size: 65%;
    }
}

.body {
    flex: 1 0 auto;
    position: relative;
    padding: 2em 0;

    background: linear-gradient(180deg, #263e5c, #22344b 6px, #1e2c3e 20px, #1d2a3c 30px, #1b2939 45px, #1b2838 60px)
        no-repeat;
    background-size: 100% 60px;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    max-width: 864px;
}
.content > p:first-of-type {
    font-size: 107%;
    text-align: center;
}

.quicklinks {
    margin: 1em auto;

    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    line-height: 1.5;
}
.quicklinks li {
    margin: .25em;
}
.quicklinks a {
    margin: 0 .5em;
}
.quicklinks > li:last-of-type > a {
    font-size: 120%;

    padding-left: 16px;
    background: var(--patreon) no-repeat left 45%;
    background-size: 12px;
}

p.note, p.tip {
    display: table;
    margin-top: -1em;

    opacity: .9;
    font-size: 70%;
}
p.note:before, p.tip:before {
    content: 'Note';
    display: table-cell;
    padding-right: .5em;

    font-size: 90%;
    text-transform: uppercase;
    color: #818b91;
}
p.tip:before {
    content: 'Tip';
}

#ranking {
    max-width: 864px;
}
#ranking .title {
    vertical-align: middle;
}
#ranking .links {
    display: inline-block;
    width: 13px;
    height: 0;
    padding: calc(13px / 2 + .1em) .1em;
    overflow: hidden;
    vertical-align: inherit;
    text-indent: -20px;
    /* Fix offsetParent. */
    position: relative;

    background: url('/svg/link.svg') no-repeat 70% 50%;
    background-size: 13px;
    opacity: 0;
    transition: opacity .3s;
}
#ranking td:nth-child(2):hover .links {
    opacity: .3;
}
#ranking td:nth-child(2):hover .links:hover,
#ranking td:nth-child(2) .links.show {
    opacity: .8;
}

.movement {
    content: '';
    display: inline-block;
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-right: 1px;
    vertical-align: middle;
    position: relative;
    z-index: 0;

    text-align: center;
    font-weight: bold;
    cursor: default;
}
.movement.none {
    color: #a99370;
    font-weight: bold;
}
.movement.pos, .movement.neg {
    font-size: 79%;
    color: #e7f7c8;
}
.movement.neg {
    color: #f7d3cb;
}

.movement:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.movement.new:before {
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    background: #bfb34a;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.movement.none:before {
    background: #36383b;
    clip-path: inset(14% 14.5%);
    -webkit-clip-path: inset(14% 14.5%);
}
tr.a .movement.none:before {
    background: #363638;
}
.movement.pos:before {
    top: -3px;
    background: #546f38;
    clip-path: polygon(20% 100%, 20% 50%, 0% 50%, 50% 0%, 100% 50%, 80% 50%, 80% 100%);
    -webkit-clip-path: polygon(20% 100%, 20% 50%, 0% 50%, 50% 0%, 100% 50%, 80% 50%, 80% 100%);
}
.movement.neg:before {
    top: 2px;
    background: #6d4039;
    clip-path: polygon(20% 0%, 20% 50%, 0% 50%, 50% 100%, 100% 50%, 80% 50%, 80% 0%);
    -webkit-clip-path: polygon(20% 0%, 20% 50%, 0% 50%, 50% 100%, 100% 50%, 80% 50%, 80% 0%);
}
.r\&f .movement {
    width: 19px;
    height: 19px;
    line-height: 19px;
}
@media (max-width: 649px) {
    .movement {
        width: 14px;
        height: 14px;
        line-height: 14px;
    }
    .movement.pos:before {
        top: -2px;
    }
    .movement.neg:before {
        top: 1px;
    }
}

.reviews {
    display: block;

    font-size: 80%;
    line-height: 1.5;
}
.reviews dt {
    font-weight: normal;
    text-transform: uppercase;
}
.reviews img {
    margin: 0 1px;
    width: 18px;
    border: 1px solid #3f7085;
    vertical-align: text-bottom;
}
.reviews .n img {
    border-color: #914747;
}

.genre, .genre:visited,
.ref250, .ref250:visited,
.discount, .free {
    margin-left: .25em;
    padding: .19em .6em;
    border-radius: 2px;
    white-space: nowrap;

    font-size: 70%;
    color: #67c1f5;
    background: rgba(103, 193, 245, .2);
}
.ref250, .ref250:visited {
    color: #d9cc77;
    background: rgba(82, 76, 22, .7);
}

.genre[href*="//store.steampowered.com/"] {
    padding-left: calc(.25em + 15px);

    background-image: var(--steam);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 4px 51%;
}
.genre:hover {
    text-decoration: none;
    color: #e6f7ff;
    background-color: rgba(103, 193, 245, .5);
}
.ref250:hover {
    text-decoration: none;
    color: #fffce8;
    background: #807d03;
}
.discount, .discount:visited, .free {
    color: #b8d936;
    background: rgba(76, 107, 34, .7);
    border-radius: 0;
}
.discount:hover {
    text-decoration: none;
    color: #f0ffab;
    background: #5e802d;
}

.free, .free:visited {
    display: inline-block;
    font-size: 68%;
    line-height: 1.24;

    box-shadow: inset 0 0 0 1px #4c6b22;
    background: rgba(0, 0, 0, .05);
    text-transform: uppercase;
    color: #d2d9ad;
}
.free:hover {
    text-decoration: none;
    color: #fbffe6;
    box-shadow: 1px 1px 3px rgba(111, 156, 50, .3);
    text-shadow: 1px 1px 0 #6f9c32;
    background: #4c6b22;
}

.date {
    margin-left: .25em;
    font-size: 85%;

    white-space: nowrap;
    color: #cccecf;
}

.platforms {
    margin-left: .25em;
    vertical-align: sub;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}
.platforms > * {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-size: cover;
    opacity: .3;
    transition: opacity .1s;
}
.platforms > a:hover {
    opacity: .8;
}
@media (max-width: 599px) {
    .platforms > * {
        width: 15px;
        height: 15px;
    }
}
.platforms > [title=Windows] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png?v=3);
}
.platforms > [title=Mac] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png);
}
.platforms > [title=Linux] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png);
}
.platforms > [title=HTC\ Vive] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_htcvive.png);
}
.platforms > [title=Occulus\ Rift] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_oculusrift.png);
}
.platforms > [title='Windows Mixed Reality'] {
    background-image: url(http://store.akamai.steamstatic.com/public/images/v6/icon_platform_windowsmr.png);
}

td:nth-child(3) > span {
    font-size: 80%;
}
td:nth-child(3) > .score {
    font-size: 100%;
    font-weight: bold;
}
.votes {
    display: block;
}

.linkbar .prev, .linkbar .next {
    position: relative;
    opacity: .9;
    margin: 1em .8em;
    padding: .3em .7em;

    font-size: 80%;
    color: #2f3f4f;
    background: #e6eef2;
    border-bottom: 2px solid #9fa3a6;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .125);

    text-decoration: none;
    text-transform: lowercase;
    transition: opacity .1s;

    outline: none;
}
.linkbar .prev:hover, .linkbar .next:hover {
    opacity: 1;
}
.linkbar .prev:active, .linkbar .next:active {
    top: 1px;
    border-bottom-width: 1px;
    box-shadow: inset 0 1px 3px #44494D;
}
.linkbar .prev:before {
    content: '◀ ';
    font-size: 80%;
}
.linkbar .prev {
    float: left;
    margin-left: 0;
}
.linkbar .next {
    float: right;
    margin-right: 0;
}
.linkbar .next:after {
    content: ' ▶';
    font-size: 80%;
}

.r\&f {
    display: flex;
    flex-flow: wrap;
    line-height: 1;
}
/* Defaults for 2-column layout */
.r\&f > * {
    margin: 0 23px 23px 23px;
    min-width: 300px;
    max-width: calc(50% - 46px);
    width: 100%;
}
.r\&f h2 {
    margin-bottom: 1em;

    font-size: 105%;
    font-weight: bold;
    text-align: center;
}
.r\&f img {
    height: 34px;
}
.r\&f ol {
    display: table;
    width: 100%;
}
.r\&f li {
    display: table-row;
}
.r\&f li > * {
    display: table-cell;
    vertical-align: middle;
}
.r\&f li > :nth-child(2) {
    width: 100%;
}
/* Linked to r&f child min-width + margin, i.e. minimum width for 2-column layout. This is for single-column layout. */
@media (max-width: 691px) {
    .r\&f > * {
        max-width: none;
    }
    .r\&f h2 {
        text-align: left;
    }
}

#linkmenu {
    /*margin-top: 25%;*/
    /*left: 50%;*/
    max-height: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;

    font-size: 90%;
    background: #2a435b;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #141c26;
    transition: max-height .15s;
}
#linkmenu.show {
    max-height: 99px;
}
#linkmenu a {
    display: block;
    padding: calc(.2em + 3px) .6em calc(.2em + 4px);

    color: #59cbff;
    text-decoration: none;
}
#linkmenu > li {
    line-height: 1.1;

    background: linear-gradient(90deg, transparent, #315473, transparent) no-repeat bottom;
    background-size: 95% 1px;
}
#linkmenu > li:last-of-type {
    background: none;
}
#linkmenu > li:hover {
    background: linear-gradient(90deg, #417295, #498cb8, #417295) no-repeat bottom;
}
#linkmenu > li:hover a {
    color: #d6f3ff;
    text-shadow: 1px 1px 1px #498cb8;
}

.algo {
    margin: 1.5rem;

    text-transform: lowercase;
    text-align: center;
    font-size: 70%;
    opacity: .06;
}

.ranking > :nth-child(3) {
    max-width: 864px;
    margin: 0 auto;
}
/* 2-column ranking */
@media (min-width: 1240px) {
    .ranking {
        display: flex;
        justify-content: center;
    }
    .ranking > :nth-child(n+2) {
        flex-shrink: 0;
    }
    .ranking > :nth-child(2n-1) {
        width: 350px;
        margin: 0;
    }
    .ranking > :nth-child(3) {
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 34px;
    }
    .r\&f > * {
        max-width: none;
        margin: 23px 0 0;
    }
}

#footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 2em 1.5em;

    line-height: 1.5;
}
#footer > * {
    max-width: 18em;
}
#footer > :nth-child(n+2) {
    margin-left: 4%;
}
#footer h2 {
    font-size: 120%;
    margin-bottom: .7em;
}
#footer p {
    margin: 1em 0;
}
#footer p:last-of-type {
    margin-bottom: 0;
}
#footer p, #footer li {
    text-align: left;
    font-size: 80%;
}
#footer img {
    height: 16px;
    opacity: .7;

    vertical-align: text-top;
}
#footer a {
    color: #9e814c;
}
#footer > :nth-child(2) img:first-of-type {
    margin-right: .25em;
}
@media (max-width: 780px) {
    #footer {
        flex-direction: column;

        line-height: inherit;
    }
    #footer > :nth-child(n+2) {
        margin: 1.5em 0 0;
    }
}

a.twitter, a.patreon, a.discord {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 0;
    margin-left: .25em;
    padding-top: 20px;
    vertical-align: text-bottom;

    background: no-repeat center;
}
a.twitter {
    background-image: var(--twitter);
    background-size: 24px;
}
a.patreon {
    background-image: var(--patreon);
    background-size: 19px;
}
a.discord {
    background-image: var(--discord);
    background-size: 22px;
    background-position-y: -1px;
}

.fixedlinks {
    position: fixed;
    bottom: .7vh;
    right: .7vw;
}
.fixedlinks > :first-child {
    margin-right: .2em;
}
.fixedlinks > a {
    text-transform: uppercase;
    font-size: 85%;
    color: inherit;
    opacity: .2;
    transition: opacity .1s;
}
.fixedlinks > a:hover {
    opacity: .6;
    text-decoration: none;
}
a[href='#header']:before {
    content: '▲ ';
}
a[href='#footer']:before {
    content: '▼ ';
}
