{% extends'layout/list.twig' %}

{% block title %}Top {{ toplist.limit }} Steam Games this month{% endblock %}
{% block heading %}Month Top {{ toplist.limit }}{% endblock %}

{% block lead %}
    <p>
        Top {{ toplist.limit }} Steam games this month according to the players.
    </p>
{% endblock %}
