{% extends'layout/ranking.twig' %}

{% block title %}Top {{ toplist.limit }} best Steam Games this month{% endblock %}
{% block heading %}Month Top {{ toplist.limit }}{% endblock %}

{% block lead %}
    <p>
        Top {{ toplist.limit }} best Steam games released in the last 30 days,
        according to player reviews.
    </p>
{% endblock %}
