{% extends'layout/ranking.twig' %}

{% block title %}Top {{ games|length }} best Steam Games this month{% endblock %}
{% block heading %}Month Top {{ games|length }}{% endblock %}

{% block content %}
    <p>
        Top {{ games|length }} best Steam games released in the last 30 days,
        according to player reviews.
    </p>
{% endblock %}
