{% extends'layout/ranking.twig' %}

{% block title %}Top {{ games|length }} best Steam Games this year{% endblock %}
{% block heading %}Year Top {{ games|length }}{% endblock %}

{% block content %}
    <p>
        Top {{ games|length }} best Steam games released in the last 365 days,
        according to gamer reviews.
    </p>
{% endblock %}
