{% extends'block/list.twig' %}

{% block title %}Top {{ toplist.limit }} Steam Games this year{% endblock %}
{% block heading %}Steam Year Top{% endblock %}

{% block lead %}
    <p>
        Top {{ toplist.limit }} Steam games this year according to the players.
    </p>
{% endblock %}
