{% extends'layout/ranking.twig' %}

{% block title %}Top {{ games|length }} best Steam Games this week{% endblock %}
{% block heading %}Week Top {{ games|length }}{% endblock %}

{% block content %}
    <p>
        Top {{ games|length }} best Steam games released in the last 7 days,
        according to gamer reviews.
    </p>
    <p>
        This ranking provides an overview of the most popular new releases.
        It is overweight in favour of games with a higher number of votes than usual,
        since it is usually significant when a game can garner a high number of reviews in such
        a short period, even if the score isn't perfect.
    </p>
{% endblock %}
