{% extends'block/list.twig' %}

{% block title %}Top {{ toplist.limit }} Steam Games this quarter{% endblock %}
{% block heading %}Steam Quarter Top{% endblock %}

{% block lead %}
    <p>
        Top {{ toplist.limit }} Steam games this quarter according to the players.
    </p>
{% endblock %}
