{% extends'layout/list.twig' %}

{% block title %}Top {{ toplist.limit }} Steam Games this quarter{% endblock %}
{% block heading %}Quarter Top {{ toplist.limit }}{% endblock %}

{% block lead %}
    <p>
        Top {{ toplist.limit }} Steam games this quarter according to the players.<br>
        The quarter is sampled as a three month rolling period.
    </p>
{% endblock %}
