{% extends'layout/template.twig' %}

{% block title %}About Steam 250{% endblock %}
{% block heading %}About Steam 250{% endblock %}

{% block content %}
<p>Welcome to Steam 250, helping gamers find good games on Steam.</p>

<p>
    <img src="/img/steam%20growth.gif">
    Steam 250 is dedicated to making good Steam games discoverable.
    Since 2014, Steam's games library has been
    <a href="https://twitter.com/ZhugeEX/status/928680024512892929">growing</a> at an exponential rate,
    but Steam's toolset has not matured quickly enough to be useful for finding good new games on
    Steam today.
    We provide a collection of video game rankings based on a wide selection of nuanced criteria to
    match what gamers are looking for. Steam 250 aims to provide all the tools necessary to be the one-stop
    website for finding good games on Steam.
</p>
<p>
    Steam tends to focus on sales data to promote games whereas most of
    our rankings use gamer reviews data to rank games instead. Comparing our annual
    <a href="/owners/{{ 'now'|date('Y') ~ ext }}">sales</a>
    versus <a href="/{{ 'now'|date('Y') ~ ext }}">ratings</a> rankings shows there is a wide disparity
    between games people are willing to buy and those they're willing to recommend. Focusing on sales
    provides an incomplete picture of the gaming landscape and frequently misses games more gamers
    are enjoying, but we complete the picture by including approval ratings so gamers can find the games
    they really want.
</p>

<h2 id="ranking">Ranking games</h2>
<p>
    Most of our rankings use player votes to determine rank order.
    These <em>votes</em> are the thumbs up or down given with each game review on Steam.
    Any gamer can vote, as long as they own the game on Steam and have played it for
    at least five minutes, by visiting the game's store page on Steam and logging in.
</p>
<p>
    At least once per day, the latest positive and negative review totals are collected by
    scanning each game's Steam store page. When this completes, each ranking is updated with the
    latest data and scored using various algorithms.
    The countdown shown at the top of the page estimates when the next update will finish.
</p>

<h2 id="algorithm">The algorithm</h2>
<p>
    A ranking algorithm determines the order of each game relative to every other game.
    For each game, the algorithm takes two inputs: the <strong>number of votes</strong> and the
    <strong>approval rating</strong> (percentage of positive votes) and assigns a score.
    The score is then used to order the ranking.
    The quality of our rankings is determined solely by this mathematical algorithm, so
    we spend a lot of time thinking about and scrutinizing it.
</p>
<p>
    During early development of Steam 250, we <a href="http://algorithms.steam250.com">trialled</a>
    seven different algorithms, each with their own behavioural characteristics.
    Each algorithm is further tuned by a <em>weighting</em> variable that biases the score
    in favour of either the number of votes or approval rating. Each algorithm's weighting
    exists on an unbounded, sliding scale thus creating limitless possibilities.
    We narrowed down the possibilities to 22 distinct combinations of algorithms and weightings
    and scrutinized them until a winner could be declared.
</p>
<p>
    It is important to appreciate ranking games is a complex and subjective problem with no
    correct answers. <mark>If <em>game A</em> has a 90% approval rating with 1000 votes and <em>game B</em> has
    a 100% approval rating but only 100 votes, which game is better? The algorithm must consistently
    provide a definitive answer to many questions like this, even though this is a seemingly
    impossible task.</mark> Ultimately the algorithm is blind: it knows nothing about the games other than
    the two inputs we feed it, and we must maintain the purity of its ignorance by discarding our biases
    and only examining these same figures when making decisions about how we think a ranking should look.
</p>
<p>
    On a few occasions we have adjusted the weighting to fix a specific problem. We prefer to modify
    the ranking algorithm and weighting as little as possible, because even small changes can
    cause a drastic shift in the rankings. An example of a specific problem we faced were two adjacent
    games both with the same approval rating percentage, but a game with half as many votes was ranked
    above one with double the number of votes. This happened because the game with more votes also
    had a lot more negative votes, but proportionally, they were almost the same. It seemed the algorithm
    was too sensitive to fractional differences in the overall approval rating so we modified the weighting
    to favour the game with a lot more votes in this situation. It is important to emphasize the
    specific games involved are not important; we only look at the numbers when considering
    making a change to fix ranking anomalies.
</p>

<h2 id="opensource">Impartial and open source</h2>
<p>
    The entire Steam 250 website is <a href="https://github.com/250">open source</a>:
    all the code and data used to run this site are publicly available.
    To most people, <em>open source</em> means a commitment to honest and transparent
    game rankings that are not manipulated by third parties. Steam 250 will never adjust
    rankings to favour a particular game. It is important the game ranking algorithms we use
    are impartial and trustworthy. To this end, open source provides a way for anyone to independently
    verify ranking integrity.
</p>
<p>
    To computer programmers, <em>open source</em> means the code can be browsed to see how the site works and
    changes can be submitted via <em>pull requests</em> on GitHub to make improvements to the site
    (although it's a good idea to <a href="https://github.com/250/Steam-Top-250/issues">discuss</a>
    change proposals beforehand).
</p>


<h2>Questions</h2>
<p>
    If you have any questions feel free to get in touch by
    <a href="https://discord.gg/8pz5ybv">joining our discord</a>,
    <a href="https://twitter.com/Steam_250">tweeting at us</a> or
    <a href="mailto:bilge@steam250.com">sending an email</a>.
</p>
{% endblock %}
