{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best Adult Steam Games{% endblock %}
{% block heading %}Adult Games Ranking{% endblock %}

{% block main %}
<p>
    Top 250 best adult Steam games of all time, according to gamer reviews, for ages 18 and over.
</p>
{% endblock %}
