{% extends'layout/list.twig' %}

{% block title %}Bottom 100 Steam Games{% endblock %}
{% block heading %}Hall of Shame{% endblock %}

{% block lead %}
<p>
    Bottom 100 Steam games of all time according to unfortunate punters.
</p>
{% endblock %}
