{% extends'layout/ranking.twig' %}

{% block title %}Bottom 100 worst Steam Games{% endblock %}
{% block heading %}Hall of Shame{% endblock %}

{% block lead %}
<p>
    Bottom 100 worst Steam games of all time according to unfortunate punters.
</p>
<p class="tip">
    For more popular releases see <a href="buyers_remorse{{ ext }}">commercial disappointments</a>.
</p>
{% endblock %}
