{% extends'layout/ranking.twig' %}

{% block title %}Bottom 100 Commercial Disappointments{% endblock %}
{% block heading %}Buyer's Remorse{% endblock %}

{% block content %}
    <p>
        Games whose commercial success came largely at the expense of consumer satisfaction,
        according to gamer reviews.
    </p>
{% endblock %}
