{% extends'layout/ranking.twig' %}

{% block title %}Club 250 Recommended Steam Games{% endblock %}
{% block heading %}Club Games{% endblock %}

{% block content %}
<p>
    Games recommended by
    <a href="https://www.patreon.com/steam250">Club 250</a> members.
</p>
<p>
    This ranking only uses reviews submitted by Club 250 members. If you'd like your games featured here
    simply <a href="https://www.patreon.com/steam250">join the club</a> for $5 or more and your reviews will be
    included automatically in the next update. If you're already a member, make sure your Steam account is
    linked to your Patreon account by following
    <a href="https://www.patreon.com/posts/16326842">these instructions</a>.
</p>
<p class="note">
    Games with only negative votes are not included. If scores are tied the global ranking is used as a
    tie-breaker.
</p>
{% endblock %}

{% block reviews %}
<dl class="reviews">
    <dt>Reviews
    {% for review in game.reviews %}
    <dd>
        <a href="http://steamcommunity.com/{{ review.profile_id }}/recommended/{{ review.app_id }}/"
           {% if not review.positive %}class="n"{% endif %}
            ><img src="{{ review.avatar_url }}" alt="Review"></a>
{% endfor %}
</dl>
{% endblock %}
