{% extends'layout/ranking.twig' %}

{% block title %}Club 250 Recommended Steam Games{% endblock %}
{% block heading %}Club 250{% endblock %}

{% block lead %}
<p>
    Games recommended by
    <a href="https://www.patreon.com/steam250">Club 250</a> members.
</p>
{% endblock %}

{% block reviews %}
<dl class="reviews">
    <dt>Reviews
    {% for review in game.reviews %}
    <dd>
        <a href="http://steamcommunity.com/{{ review.profile_id }}/recommended/{{ review.app_id }}/"
           {% if not review.positive %}class="n"{% endif %}
            ><img src="{{ review.avatar_url }}" alt="Review"></a>
{% endfor %}
</dl>
{% endblock %}
