{% extends'layout/template.twig' %}

{% block css %}
<link rel="stylesheet" href="/css/tweets.css">
{{ parent() }}
{% endblock %}

{% block title %}
Cosmic Scale Steam 250 Tweets
{% endblock %}

{% block heading %}
Cosmic Tweets
{% endblock %}

{% block content %}
<p>Most influential tweets that brought new audiences to Steam 250.</p>

<p>
    The following major tweets are arranged in descending order of influence, as determined by the number
    of visits recorded from each. Influence is shown as a percentage of overall Twitter
    referrals since launch. Big thanks to everyone who has shouted us out, whether or not listed here!
</p>
{% endblock %}

{% block fullwidth %}
<section class="tweets">
    <div>
        <h2>
            Team Salvato
            <a href="http://store.steampowered.com/app/698780/">Doki Doki Literature Club</a>
            <span>37%</span>
        </h2>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">According to <a href="https://t.co/LlGpeWtsqU">https://t.co/LlGpeWtsqU</a> <a href="https://twitter.com/hashtag/DokiDokiLiteratureClub?src=hash&amp;ref_src=twsrc%5Etfw">#DokiDokiLiteratureClub</a> is the 15th highest rated game of all time on Steam!<br><br>Maybe if it catches up to Portal, Monika and GLaDOS can become friends... <a href="https://t.co/R22wqGFzUV">pic.twitter.com/R22wqGFzUV</a></p>&mdash; Team Salvato (@TeamSalvato) <a href="https://twitter.com/TeamSalvato/status/936606961356832774?ref_src=twsrc%5Etfw">December 1, 2017</a></blockquote>
    </div>
    <div>
        <h2>
            Lewie Procter
            <a href="http://savygamer.co.uk">SavyGamer</a>
            <span>19%</span>
        </h2>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is p cool, ranking games on Steam with high user rating but low sales <a href="https://t.co/07rgz1bSaw">https://t.co/07rgz1bSaw</a></p>&mdash; Lewie Procter (@LewieP) <a href="https://twitter.com/LewieP/status/948404081319542784?ref_src=twsrc%5Etfw">January 3, 2018</a></blockquote>
    </div>
    <div>
        <h2>
            Edmund McMillen
            <a href="http://store.steampowered.com/app/250900/">The Binding of Isaac: Rebirth</a>
            <span>9%</span>
        </h2>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">3 of my games are in the top 100 steam games of all time! Rebirth being #9! Thanks internets! <a href="https://t.co/GygkmQJmWU">https://t.co/GygkmQJmWU</a></p>&mdash; Edmund McMillen (@edmundmcmillen) <a href="https://twitter.com/edmundmcmillen/status/937403034828619776?ref_src=twsrc%5Etfw">December 3, 2017</a></blockquote>
    </div>
    <div>
        <h2>
            Tynan Sylvester
            <a href="http://store.steampowered.com/app/294100/">RimWorld</a>
            <span>8%</span>
        </h2>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">RimWorld is the 24th best game on Steam of all time, as ranked by player reviews. Proud! <a href="https://t.co/oKfAwWYjKu">https://t.co/oKfAwWYjKu</a></p>&mdash; Tynan Sylvester (@TynanSylvester) <a href="https://twitter.com/TynanSylvester/status/936939525825216512?ref_src=twsrc%5Etfw">2 December 2017</a></blockquote>
    </div>
    <div>
        <h2>
            Daniel Benmergui
            <a href="http://store.steampowered.com/app/573170/">Fidel</a>
            <span>4%</span>
        </h2>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Check out this Steam&#39;s &quot;250 hidden gems&quot;, games ranked by player love, not absolute sales numbers, <a href="https://t.co/jkqp5SQ5bH">https://t.co/jkqp5SQ5bH</a> <a href="https://twitter.com/steam_games?ref_src=twsrc%5Etfw">@steam_games</a> <a href="https://twitter.com/aldenkroll?ref_src=twsrc%5Etfw">@aldenkroll</a> why not take a look at this? (Full Disclosure: Fidel is on spot 45 here) <a href="https://t.co/tCHanyCqby">pic.twitter.com/tCHanyCqby</a></p>&mdash; Daniel Benmergui (@danielben) <a href="https://twitter.com/danielben/status/948683049763565573?ref_src=twsrc%5Etfw">January 3, 2018</a></blockquote>
    </div>
</section>
{% endblock %}

{% block js %}
{{ parent() }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{#<script src="/js/tweets.js"></script>#}
{% endblock %}

{% block meta %}
<meta name="twitter:widgets:link-color" content="#9c793d">
<meta name="twitter:dnt" content="on">
{% endblock %}
