{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Discounted Steam Games{% endblock %}
{% block heading %}Discount 250{% endblock %}

{% block content %}
<p>
    Top 250 best Steam games currently on sale,
    according to gamer reviews.
</p>
<div class="warning">
    <p>
        Pricing information in <u>US dollars</u> is provided solely for convenience.
        The pricing and discount information shown may no longer be current.
        All prices are subject to change at the publisher's discretion.
        <strong>Please double check all prices before making any purchases on Steam!</strong>
    </p>
</div>
<p class="note">
    Steam 250 receives no commission from sales.
    If you wish to support this site, please consider <a href="{{ patreon }}">becoming a Patron</a>.
</p>
{% endblock %}
