{% extends'layout/ranking.twig' %}

{% block title %}Top 250 Discounted Steam Games{% endblock %}
{% block heading %}Discount 250{% endblock %}

{% block lead %}
<p>
    Top 250 discounted Steam games of all time according to player reviews.
</p>
{% endblock %}
