{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Discounted Steam Games{% endblock %}
{% block heading %}Discount 250{% endblock %}

{% block content %}
<p>
    Top 250 best Steam games currently on sale,
    according to gamer reviews.
</p>
<p class="note">
    Because this site updates once per day, some deals may have ended.
    We're investigating a solution to this.
</p>
{% endblock %}
