{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best Steam DLC{% endblock %}
{% block heading %}Top 250 DLC Ranking{% endblock %}

{% block main %}
<p>
    Top 250 best Steam DLC of all time according to gamer reviews.
</p>
{% endblock %}
