{% extends'layout/ranking.twig' %}

{% block title %}Top 250 Steam DLC{% endblock %}
{% block heading %}DLC Top 250{% endblock %}

{% block lead %}
<p>
    Top 250 Steam DLC of all time according to the players.
</p>
{% endblock %}
