{% extends'layout/list.twig' %}

{% block title %}Hidden Gems of Steam{% endblock %}
{% block heading %}Hidden Gems{% endblock %}

{% block lead %}
    <p>
        Top 250 highly rated games that few know but many love.
    </p>
    <p class="note">
        To improve the quality of this list we have chosen to exclude
        <a href="http://store.steampowered.com/search/?sort_by=Reviews_DESC&tags=3799">visual novels</a>.
    </p>
{% endblock %}
