{% extends'layout/ranking.twig' %}

{% block title %}Hidden Visual Novels of Steam{% endblock %}
{% block heading %}Hidden Novels{% endblock %}

{% block lead %}
    <p>
        Top {{ games|length }} highly rated visual novels that few know but many love.
    </p>
    <p class="note">
        For more popular novels see the <a href="/tag/visual_novel.html">Visual Novels</a> ranking.
        For more hidden games see the <a href="/hidden_gems.html">Hidden Gems</a> ranking.
    </p>
{% endblock %}
