{% extends'layout/ranking.twig' %}

{% block title %}Hidden Gems of Steam{% endblock %}
{% block heading %}Hidden Gems{% endblock %}

{% block lead %}
    <p>
        Top 250 highly rated games that few know but many love.
    </p>
    <p>
        This ranking uses a modified
        <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">Wilson score</a>
        to rank games, which favours games with a high approval rating.
        Games ranked at the top will typically have an approval rating as close to 100% as possible.
        However, the score is negatively affected by the number of players: once a game becomes too popular,
        its high player count will eventually sink it off the list.
        However, when a game maintains a high approval rating during its growth,
        it typically reappears on one of the other rankings,
        such as the <a href="/">Top 250</a>, before this decay begins.
    </p>
    <p class="note">
        Visual novels have their own ranking called <a href="/hidden_novels.html">Hidden Novels</a>.
    </p>
{% endblock %}
