{% extends'layout/ranking.twig' %}

{% block title %}Hidden Gems of Steam{% endblock %}
{% block heading %}Hidden Gems{% endblock %}

{% block lead %}
    <p>
        Top 250 highly rated games that few know but many love.
    </p>
    <p class="note">
        To make this list more useful we have chosen to exclude
        <a href="http://store.steampowered.com/search/?sort_by=Reviews_DESC&tags=3799">visual novels</a>
        for the time being, because many are not available in English. Once we have a solution for language
        filtering, visual novels will return to this list. Thank you for your patience.
    </p>
{% endblock %}
