{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Hidden Gems on Steam{% endblock %}
{% block heading %}Hidden Gems{% endblock %}

{% block content %}
    <p>
        Top 250 highly rated Steam games that few know but many love.
    </p>
    <p>
        This ranking favours games with a high approval rating.
        Games ranked at the top will typically have an approval rating as close to 100% as possible.
        However, the score is negatively affected by the number of players: once a game becomes too popular,
        its high player count will eventually sink it off the list.
        However, when a game maintains a high approval rating during its growth,
        it typically reappears on another ranking such as the
        <a href="/">Top 250</a>, before the decay starts.
    </p>
    <p class="tip">
        Visual novels have their own ranking called <a href="/hidden_novels{{ ext }}">Hidden Novels</a>.
    </p>
{% endblock %}
