{% extends'layout/list.twig' %}

{% block title %}Top 250 Steam Games{% endblock %}
{% block heading %}Steam Top 250{% endblock %}

{% block lead %}
<p>
    Top 250 Steam games of all time according to the only source that matters: the players.
    Because <em>overwhelmingly positive</em> means more than IGN 10/10.
</p>
{% endblock %}
