{% extends 'layout/template.twig' %}

{% block title %}Rankings overview{% endblock %}
{% block heading %}Steam 250{% endblock %}
{% block class %}home{% endblock %}

{% block content %}
<section class="rankings">
    {% for id, ranking in rankings %}
    {{ include('partial/risers.twig', {games: ranking, title: id}) }}
    {% endfor %}
</section>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="/js/Home.js"></script>
{% endblock %}
