{% extends'layout/ranking.twig' %}

{% block title %}Top 250 Steam Games{% endblock %}
{% block heading %}Steam Top 250{% endblock %}

{% block lead %}
<p>
    Top 250 Steam games of all time according to the players.
</p>
{% endblock %}
