{% extends'block/list.twig' %}

{% block title %}Top 250 Linux Steam Games{% endblock %}
{% block heading %}Linux Top 250{% endblock %}

{% block lead %}
<p>
    Top 250 Linux-compatible Steam games of all time according to the players.<br>
</p>
{% endblock %}
