{% extends'block/list.twig' %}

{% block title %}Top 250 Mac Steam Games{% endblock %}
{% block heading %}Mac Top 250{% endblock %}

{% block lead %}
<p>
    Top 250 Mac-compatible Steam games of all time according to the players.<br>
</p>
{% endblock %}
