{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best Mac Steam Games{% endblock %}
{% block heading %}Mac Top 250 Ranking{% endblock %}

{% block main %}
<p>
    The top 250 best Mac-compatible Steam games of all time, according to gamer reviews.
</p>
{% endblock %}

{% block context_nav %}{% include 'nav/context/platforms.twig' %}{% endblock %}
