{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Mac Steam Games{% endblock %}
{% block heading %}Mac Top 250{% endblock %}

{% block content %}
<p>
    Top 250 best Mac-compatible Steam games of all time, according to gamer reviews.
</p>
{% endblock %}
