{% extends 'layout/ranking.twig' %}

{% block title %}Most Played Steam Games{% endblock %}
{% block heading %}Most Played{% endblock %}

{% block content %}
    <p>
        The Top 250 most played Steam games based on the average number of concurrent players in the
        <b>past 24 hours</b>.
    </p>
{% endblock %}

{% block score_heading %}Concurrent Players{% endblock %}
{% block score %}{{ app.average_players_1d|unit_format }}{% endblock %}
