{% extends'layout/ranking.twig' %}

{% block title %}Most Played Steam Games{% endblock %}
{% block heading %}Most Played{% endblock %}

{% block lead %}
    <p>
        Top 250 most played Steam games, based on number of players in the last two weeks.
    </p>
{% endblock %}

{% block scoring_heading %}Players{% endblock %}
{% block scoring_criteria %}
    <span>{{ game.players_2w|number_format }} players</span>
{% endblock %}
