{% extends 'layout/ranking.twig' %}

{% block title %}Steam Game Previews for Next Week{% endblock %}
{% block heading %}Steam Previews{% endblock %}

{% block content %}
    <p>
        Complete list of Steam games releasing in the next seven days.
    </p>
    <p class="note">Does not include DLC, soundtracks or other app types.</p>
{% endblock %}

{% block scoring_heading %}{% endblock %}
{% block scoring_criteria %}{% endblock %}
