{% extends 'layout/ranking.twig' %}

{% block class %}preview{% endblock %}
{% block title %}Steam Game Previews for Next Week{% endblock %}
{% block heading %}Steam Previews{% endblock %}

{% block main %}
    <p>
        Complete list of Steam games releasing in the next 30 days.
        Does not include DLC, soundtracks or other app types.
    </p>
{% endblock %}

{% block rank_heading %}Order{% endblock %}
{% block rating_heading %}{% endblock %}
{% block score_heading %}{% endblock %}
{% block price_heading %}{% endblock %}
