{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best Steam Deck Playable games{% endblock %}
{% block heading %}Steam Deck Playable Ranking{% endblock %}

{% block main %}
<p>
    Top 250 best <b class="deck-p">Steam Deck Playable</b> games of all time according to gamer reviews.
</p>
<p>
    <em>Playable</em> games have been certified by Valve as functional on Steam Deck,
    but might require extra effort to interact with or configure.
</p>
<p class="tip">
    This ranking includes fully <em>verified</em> games.
    See <a href="/steam_deck_verified{{ ext }}">Steam Deck Verified</a> to exclude <em>playable</em> games.
</p>
{% endblock %}

{% block context_nav %}{% include 'nav/context/platforms.twig' %}{% endblock %}
{% block local_nav %}{% include 'nav/local/deck.twig' %}{% endblock %}
