{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best Steam Deck Verified games{% endblock %}
{% block heading %}Steam Deck 250{% endblock %}

{% block main %}
<p>
    Top 250 best <b class="deck-v">Steam Deck Verified</b> games of all time according to gamer reviews.
</p>
<p class="note"><em>Verified</em> games have been certified by Valve as fully functional on Steam Deck.</p>
<p class="tip">
    To include <em>playable</em> games,
    see <a href="/steam_deck_playable{{ ext }}">Steam Deck Playable</a>.
</p>
{% endblock %}

{% block context_nav %}{% include 'nav/context/platforms.twig' %}{% endblock %}
{% block local_nav %}{% include 'nav/local/deck.twig' %}{% endblock %}
