{% extends'layout/ranking.twig' %}

{% block title %}Top {{ ranking.tag }} Games on Steam{% endblock %}
{% block heading %}{{ ranking.tag }} Games{% endblock %}

{% block lead %}
    <p>
        Top {{ games|length }} best Steam games of all time tagged with <em>{{ ranking.tag }}</em>,
        according to player reviews.
    </p>
{% endblock %}
