{% extends'layout/ranking.twig' %}

{% block title %}Top {{ toplist.tag }} Games on Steam{% endblock %}
{% block heading %}Top {{ toplist.tag }} Games{% endblock %}

{% block lead %}
    <p>
        Top {{ games|length }} Steam games of all time, tagged with <em>{{ toplist.tag }}</em>,
        according to the players.
    </p>
{% endblock %}
