{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best VR Steam Games{% endblock %}
{% block heading %}VR Top 250{% endblock %}

{% block content %}
    <p>
        Top 250 best virtual reality Steam games of all time,
        according to gamer reviews.
    </p>
    <p class="tip">
        This ranking includes games with any level of VR support.
        <a href="/vr_exclusives{{ ext }}">VR Exclusives</a> have their own ranking.
    </p>
{% endblock %}
