{% extends 'layout/ranking.twig' %}

{% block title %}Top 250 best VR Exclusive Steam Games{% endblock %}
{% block heading %}VR Exclusives{% endblock %}

{% block content %}
    <p>
        Top 250 best virtual reality exclusive Steam games of all time,
        according to gamer reviews.
    </p>
    <p class="tip">
        These games can only be played with a VR headset. For VR games with desktop support see
        <a href="/vr250{{ ext }}">VR Top 250</a>.
    </p>
{% endblock %}
