<h3>Steam Deck</h3>
<ol>
    <li><a href="steam_deck_playable{{ ext }}" class="deck {{ page.id == 'steam_deck_playable' ? 'sel' }}">Playable</a>
    <li><a href="steam_deck_verified{{ ext }}" class="deck {{ page.id == 'steam_deck_verified' ? 'sel' }}">Verified</a>
</ol>
