<h3>Virtual Reality</h3>
<ol>
    <li><a href="vr250{{ ext }}" class="vr {{ page.id == 'vr250' ? 'sel' }}">VR Compatible</a>
    <li><a href="vr_exclusives{{ ext }}" class="vr {{ page.id == 'vr_exclusives' ? 'sel' }}">VR Exclusive</a>
</ol>
