@import "inc/reset.css";
@import "inc/title.css";

body {
    background: #403321;
}

.collage {
    width: 1500px;
    height: 396px;
    line-height: 0;
    overflow: hidden;

    mix-blend-mode: luminosity;
}

img {
    width: calc(100% / 16);

    opacity: .4;
}

section {
    display: inline-block;
    position: relative;
    margin-top: 58px;
}

#header {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}
