@import "inc/reset.css";

body {
    background: #403321;
}

.collage {
    display: flex;
    flex-flow: wrap;
    width: 1500px;
    height: 396px;
    line-height: 0;
    overflow: hidden;

    mix-blend-mode: luminosity;
}

img {
    width: calc(100% / 16);

    opacity: .4;
}

section {
    display: inline-block;
    position: relative;
    margin-top: 58px;
}
