main {
  padding: 32px;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: 16px;

    >header {
      display: grid;
      grid-template-columns: 40px 1fr auto;
      gap: 12px;

      &:before, &:after {
        grid-area: 1 / 1;
        align-self: center;
      }
      &:before {
        content: '';
        height: 40px;

        border-radius: 4px;
        background: #e9c1761a;
      }

      >h2, >p {
        grid-area: 1 / 2;
      }

      >p {
        margin: 25px 0 0;

        //color: #d3beeb9a;
        font-size: 13px;
      }

      >.button.pri {
        height: 35px;
        align-self: center;
        margin: 0;

        font-size: 10.4px;
        font-weight: 800;
        text-transform: uppercase;
        opacity: .9;
      }
    }

    &.trend {
      >header {
        &:after {
          content: '';
          height: 22px;
          aspect-ratio: 15/21;
          justify-self: center;

          background: radial-gradient(circle at bottom, #fc0, #d8701b 32%, #993633 59%);
          mask: url(/svg/trend.svg);
        }
      }

      >ol {
        display: flex;
        gap: 16px;
        overflow: auto;

        >li {
          width: 420px;
          height: 232px;
          flex-shrink: 0;
          box-sizing: border-box;
          overflow: hidden;

          border: 4px solid #3a3145;
          border-radius: 2px;

          >a {
            display: flex;
            flex-flow: column;
            height: 100%;

            text-decoration: none;
          }

          img {
            max-width: 100%;
            height: 141px;

            object-fit: cover;
          }

          header {
            position: relative;
            display: flex;

            >img {
              border-radius: 2px 2px 0 0;
            }

            >span {
              position: absolute;
              top: 12px;
              left: $top;
              padding: 4px 12px;

              font-size: 20px;
              font-weight: 800;
              color: #412d00;
              background: #e9c176;
              border-radius: 2px;
            }
          }

          footer {
            position: relative;
            flex: 1;
            display: grid;
            padding: 16px;
            gap: 0 2ch;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;

              background: #3a3145;
              opacity: .9;
            }

            >img {
              position: absolute;

              scale: 1 -1;
              filter: blur(6px);

              ~ * {
                position: relative;
                z-index: 1;
              }
            }

            >span:nth-of-type(1) {
              color: #eddcff;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: -.03em;
              overflow: hidden;
              white-space: nowrap;

              >span {
                margin-left: 8px;
                vertical-align: middle;

                font-size: 12px;
                font-weight: 600;
                opacity: .75;
              }
            }
            >span:nth-of-type(2) {
              margin-top: 4px;

              opacity: .6;
              color: #d3beeb;
              font-size: 10px;
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: uppercase;
            }
            >span:nth-of-type(3) {
              grid-area: 1 / 2;
              align-self: end;

              color: #d3beeb;
              font-size: 18px;
              font-weight: 900;
              letter-spacing: -.45px;
              text-transform: uppercase;
              text-align: right;
            }
            >span:nth-of-type(4) {
              --w: 94px;

              margin-top: 8px;
              justify-self: end;

              &:before {
                border: 1px solid #ffffff0c;
              }
              >:first-child {
                margin: 1px 0 0 1px;
              }
            }
          }
        }
      }
    }
  }
}
