@import (reference) "inc/func/icons";

.bg-hov() {
  transition: background .15s;

  &:hover {
    background: var(--bg-hov);
  }
}

.carousel-container() {
  overflow: hidden;

  cursor: grab;
  user-select: none;
}

main {
  display: flex;
  flex-flow: wrap;
  padding: 32px;
  gap: 48px 32px;
  align-items: start;
  justify-content: center;

  h2 {
    font-size: 20px;
    text-transform: uppercase;

    &:not(:has(+ p)) {
      align-self: center;
    }
  }

  a:hover {
    text-decoration: none;
  }

  #body & .button {
    height: 35px;
    align-self: center;
    margin: 0;

    font-size: 10.4px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  .keystone {
    opacity: .5;
    color: #d3beeb;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }

  >section {
    --bg-hov: var(--frm-ctrl-hard-brdr);
    --bg-hov-plus: color-mix(var(--bg-hov), #fff 8%);

    display: flex;
    flex-flow: column;
    gap: 16px;
    max-width: 100%;

    >header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 12px;

      &:before, &:after {
        grid-area: 1 / 1;
        align-self: center;
      }
      &:before {
        content: '';
        height: 40px;
        width: $height;

        border-radius: 4px;
        background: #e9c1761a;
      }
      &:after {
        content: '';
        width: 20px;
        aspect-ratio: 1;
        justify-self: center;

        background: #e9c176;
        mask: no-repeat center;
      }

      // Header wrapper link.
      >a:only-child {
        display: grid;
        grid: auto / 0 1fr auto;
        grid-column: 2 / -1;

        >.button {
          grid-column: 3;
        }
      }

      h2, p {
        grid-area: 1 / 2;

        >a, a:visited {
          color: inherit;
        }
      }

      p {
        height: 0;
        margin: 25px 0 0;

        color: var(--250-c);
        font-size: 13px;
      }
    }

    &.trend {
      >header {
        &:after {
          content: '';
          width: auto;
          height: 22px;
          aspect-ratio: 15/21;
          justify-self: center;

          background: radial-gradient(circle at bottom, #fc0, #d8701b, #993633);
          mask: url(/svg/trend.svg);
        }
      }
    }

    &.topsell {
      >header {
        &:after {
          #icons.cart();

          width: 22px;
        }
      }
    }

    &.hcards {
      >div {
        .carousel-container();
      }

      ol {
        display: flex;
        gap: 16px;

        >li {
          width: 420px;
          height: 232px;
          flex-shrink: 0;
          box-sizing: border-box;
          overflow: hidden;

          border: 4px solid #3a3145;
          border-radius: 2px;

          transition: border-color .2s;

          &:has(> a:hover) {
            border-color: var(--bg-hov-plus)
          }

          >a {
            display: flex;
            flex-flow: column;
            height: 100%;

            &:hover {
              img {
                scale: 1.15;

                transition: scale 3s ease-out;

                &:where(footer > img) {
                  scale: 1.15 -1.15;
                }
              }

              footer {
                &:before {
                  background: var(--bg-hov-plus);
                }
              }
            }
          }

          img {
            max-width: 100%;
            height: 141px;

            object-fit: cover;

            transition: scale .15s;
          }

          header {
            position: relative;
            display: flex;
            flex-shrink: 0;
            overflow: hidden;

            >img {
              z-index: 1;

              border-radius: 2px 2px 0 0;
            }

            >span {
              position: absolute;
              top: 12px;
              left: $top;
              padding: 4px 12px;
              z-index: 1;

              font-size: 20px;
              font-weight: 800;
              color: #412d00;
              background: #e9c176;
              border-radius: 2px;
            }
          }

          footer {
            position: relative;
            flex: 1;
            display: grid;
            padding: 16px;
            gap: 0 2ch;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 1;

              background: #3a3145;
              opacity: .9;

              transition: background-color .2s;
            }

            >img {
              position: absolute;

              scale: 1 -1;
              filter: blur(6px);

              ~ * {
                position: relative;
                z-index: 1;
              }
            }

            >span:nth-of-type(1) {
              color: #eddcff;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: -.03em;
              overflow: hidden;
              white-space: nowrap;

              >span {
                margin-left: 8px;
                vertical-align: middle;

                font-size: 12px;
                font-weight: 600;
                opacity: .75;
              }
            }
            >span:nth-of-type(2) {
              margin-top: 4px;

              opacity: .6;
              color: #d3beeb;
              font-size: 10px;
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: uppercase;
            }
            >span:nth-of-type(3) {
              grid-area: 1 / 2;
              align-self: end;

              color: #d3beeb;
              font-size: 18px;
              font-weight: 900;
              letter-spacing: -.45px;
              text-transform: uppercase;
              text-align: right;
            }
            >span:nth-of-type(4) {
              --w: 94px;

              margin-top: 8px;
              justify-self: end;

              &:before {
                border: 1px solid #ffffff0c;
              }
              >:first-child {
                margin: 1px 0 0 1px;
              }
            }
          }
        }
      }
    }

    &.gotd {
      max-width: 1596px;
      padding: 24px;
      flex: 20 1 600px;

      background: #20182a66;
      border-radius: 8px;
      box-shadow: 0 0 4px #473f51cb;

      >header {
        &:after {
          #icons.cup();
        }
      }

      >a {
        position: relative;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 12px 8px;
        align-content: end;
        height: 450px;
        padding: 32px;
        overflow: hidden;

        border-radius: 4px;
        border: 2px solid #3A3145;

        transition: border-color .2s;

        &:hover {
          border-color: var(--bg-hov-plus);

          >img {
            scale: 1.05;

            transition: scale 2.5s ease-out;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1920px;
          z-index: 1;

          background: radial-gradient(circle at bottom left, #181022, #18102299 40%, #18102200);
          opacity: .9;
        }

        >img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;

          border-radius: inherit;

          transition: scale .15s;

          ~ * {
            position: relative;
            z-index: 1;
          }
        }

        >.button {
          margin: 0;
          padding: 9px 12px;
          justify-self: start;

          box-shadow: none;

          &:nth-last-child(1 of .button) {
            color: #e9c176;
            background: #ffffff1a;

            border-radius: 2px;
            box-shadow: inset 0 0 0 1px color-mix(currentColor 10%, transparent);

            &:hover {
              background: #ffffff28;
            }

            ~ * {
              grid-column: 1 / -1;
            }
          }
        }

        >span:last-of-type {
          margin: 1ex 0 -1em;

          opacity: .8;
          color: #ebddf7;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        >h3 {
          color: #ebddf7;
          font-size: 36px;
          font-weight: 900;
          letter-spacing: -1.8px;
          text-transform: uppercase;
          text-shadow: -1px 3px #0004;
        }

        >p {
          max-width: 512px;
          margin: 0 0 24px;

          color: #fffc;
          text-align: left;
        }
      }
    }

    &.wk {
      flex: 380px;

      >header {
        &:after {
          #icons.dt7();
        }
      }

      >ol {
        max-height: 548px;
        display: flex;
        flex-flow: column;
        padding: 12px;
        gap: 12px;
        overflow: auto;

        background: #1b1425;
        border-radius: 4px;

        >li {
          background: #241c2f66;
          border-radius: 2px;

          .bg-hov();

          >a {
            display: grid;
            grid-template-columns: auto auto auto 1fr;
            padding: 8px;

            >img {
              height: 110px;
              aspect-ratio: 374/448;
              grid-row: span 3;
              margin-right: 16px;

              border-radius: 2px;
            }

            >span:nth-of-type(1) {
              align-self: end;
              margin-right: 9px;
              padding: 1px 5px;

              opacity: .9;
              color: #412d00;
              background: #e9c176;
              font-size: 10px;
              font-weight: 900;
              border-radius: 2px;
            }
            >span:nth-of-type(2) {
              display: flex;
              gap: 9px;
              grid-column: span 2;
              align-self: end;

              color: #ebddf7;
              line-height: .9;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: -.3px;

              > span {
                align-self: center;

                opacity: .75;
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
              }
            }
            >span:nth-of-type(3) {
              grid-column: span 2;
              align-self: center;
              margin-right: 8px;

              color: #d3beeb;
              font-size: 11px;
              font-weight: 700;
              line-height: 1;
              text-transform: uppercase;
            }
            >span:nth-of-type(4) {
              align-self: center;
              justify-self: start;
              line-height: .6;
              --w: 58px;

              opacity: .9;
            }
            >span:nth-of-type(5) {
              grid-column: span 3;
            }
          }
        }
      }
    }

    &.yr {
      >header {
        &:after {
          #icons.dt365();
        }
      }
    }

    &.vcards {
      >div {
        .carousel-container();
      }

      ol {
        display: flex;
        gap: 16px;
        max-width: 100%;

        a {
          display: grid;
          grid-template-columns: 1fr auto;
          width: 173px;
          padding: 8px;
          gap: 6px;

          background: #20182a;
          border-radius: 2px;

          .bg-hov();

          >* {
            grid-column: 1 / -1;
          }

          >img {
            width: inherit;
            aspect-ratio: 2/3;
            grid-row: 1;

            border-radius: 2px;
          }

          >span:nth-of-type(1) {
            grid-row: 1;
            margin: 4px;
            padding: 2px 6px;
            align-self: start;
            justify-self: start;

            font-size: 10px;
            font-weight: 900;
            color: #412d00;
            background: #e9c176;
            border-radius: 2px;

            ~ span {
              line-height: 1;
            }
          }

          >span:nth-of-type(2) {
            margin-top: 3px;
            overflow: hidden;

            color: #ebddf7;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap;
          }
          >span:nth-of-type(n+3) {
            grid-column: auto;
            margin-bottom: 1px;
            align-self: end;
          }
          >span:nth-of-type(4) {
            margin-right: 2px;

            color: #e9c176;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: -.5px;
          }
        }
      }
    }

    &.\31 \/2 {
      flex: calc(50% - 16px);

      >header {
        &:after {
          width: 21px;

          mask-image: url(/svg/players.svg);
        }
      }

      >ol {
        display: flex;
        flex-flow: column;
        gap: 8px;
        // Image height (width * inverse aspect ratio) * 6 items + v-padding + gap.
        height: calc(54px * 448/374 * 6 + 16px * 6 + 8px * 5);
        overflow: auto;

        >li {
          &:first-of-type > a > span:nth-of-type(1) {
            color: #e9c176;
          }

          >a {
            display: grid;
            grid-template-columns: 2ch 54px 1fr auto;
            grid-auto-rows: 50%;
            padding: 8px 12px;
            gap: 7px 16px;
            line-height: .9;

            background: #20182a;
            border-radius: 2px;

            .bg-hov();

            >:nth-child(-n+2) {
              grid-row: span 2;
            }

            img {
              width: 100%;
              aspect-ratio: 374/448;

              border-radius: 2px;
            }

            >span:nth-of-type(1) {
              align-self: center;

              color: #d3beeb66;
              font-size: 16px;
              font-weight: 900;
              text-align: center;
            }
            >span:nth-of-type(2n + 2) {
              align-self: end;
            }
            >span:nth-of-type(2) {
              display: flex;
              gap: 8px;

              color: #ebddf7;
              font-size: 18px;
              font-weight: bold;

              >span {
                align-self: center;

                font-size: 11px;
                font-weight: 500;
                color: #ebddf7bf;
              }
            }
            >span:nth-of-type(4) {
              grid-area: 1/4;
            }
            >span:nth-of-type(n+4):not(.meter) {
              color: #d3beeb99;
              font-size: 12px;
              font-weight: bold;
              text-align: right;
              text-transform: uppercase;
            }
            >.meter {
              --w: 55px;
            }
          }
        }
      }

      &:nth-child(2 of .\31 \/2) {
        >header {
          &:after {
            mask-image: url(/svg/gem.svg);
            background: linear-gradient(24deg, #29a5d6, #e976d6 90%);
          }
        }
      }
    }

    &.\31 \/3 {
      flex: calc(33.3% - 32px * 2 / 3);
      gap: 12px;

      >header {
        &:before {
          content: none;
        }
        &:after {
          #icons.discount();
        }
        >h2 {
          font-size: 16px;
          letter-spacing: 1.6px;
        }
        #body & >.button {
          height: 28px;
        }
      }

      >ol {
        display: grid;
        grid-template-columns: 125px 1fr auto;
        gap: 9px 0;
        // Image width / aspect ratio * 6 items + v-padding + gap.
        height: calc(125px / (231/87) * 6 + 2px * 6 + 9px * 5);
        overflow: auto;

        >li {
          display: grid;
          grid-template-columns: subgrid;
          grid-column: 1/-1;

          >a {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1/-1;
            padding: 1px;

            background: #20182a;
            box-shadow: inset 0 0 0 1px #4e46391a;
            border-radius: 2px;

            .bg-hov();

            img {
              width: 100%;
              aspect-ratio: 231/87;

              border-radius: 2px;
            }

            >:nth-child(-n+2) {
              grid-area: 1/1/3;
            }

            >span {
              margin-inline: 11px;
            }
            >span:nth-of-type(1) {
              margin: 3px;
              padding: 0 4px;
              align-self: start;
              justify-self: start;

              font-size: 8px;
              font-weight: 900;
              color: #412d00;
              background: #e9c176;
              border-radius: 2px;
            }
            >span:nth-of-type(2) {
              margin-top: -5px;
              align-self: end;
              line-height: 1.3;
              white-space: nowrap;
              overflow: hidden;

              color: #ebddf7;
              font-size: 14px;
              font-weight: bold;

              >span {
                font-size: 11px;
                font-weight: 450;
                color: #ebddf7bf;
              }
            }
            >.keystone {
              align-self: center;
              margin-top: -2px;

              font-size: 10px;
            }
            >span:nth-of-type(4) {
              grid-area: 1/3;
            }
            >span:nth-last-of-type(-n+2):not(.keystone) {
              text-align: center;

              &:where(:nth-last-of-type(2)) {
                align-self: end;

                opacity: .4;
                color: #d3beeb;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
                text-decoration: line-through;
              }

              &:where(:last-of-type) {
                margin-top: -1px;

                color: #ebddf7;
                opacity: 1;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
      }

      &:nth-child(n+2 of .\31 \/3) {
        a > span:last-of-type:nth-of-type(4) {
          margin-top: 0;
          grid-row: 1/3;
          align-self: center;
        }
      }

      &:nth-child(2 of .\31 \/3) {
        >header {
          &:after {
            mask-image: url(/svg/piggy.svg);
          }
        }
      }

      &:nth-child(3 of .\31 \/3) {
        >header {
          &:after {
            #icons.free();
          }
        }

        a > span:last-of-type {
          color: #e9c176;
        }
      }
    }

    &.tag {
      flex-flow: wrap;
      gap: 32px;

      >header {
        flex: 100%;

        &:after {
          #icons.tags();
        }
      }

      >section {
        display: flex;
        flex-flow: column wrap;
        gap: 16px;
        flex: calc(25% - 32px * 3 / 4);

        >header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:before, &:after {
            content: none;
          }
          >.tag {
            opacity: .85;
          }
          #body & > .button {
            height: 24px;
          }
        }

        >ol {
          display: flex;
          flex-flow: column;
          gap: 6px;
          min-width: 290px;
          // Image height * 5 items + v-padding + gap.
          height: calc(38px * 5 + 2px * 5 + 6px * 4);
          overflow: auto;

          >li {
            >a {
              display: grid;
              grid-template-columns: 3ch auto 1fr;
              padding: 1px;

              background: #20182a80;
              border-radius: 2px;
              box-shadow: inset 0 0 0 1px #4e46390c;

              .bg-hov();

              img {
                grid-row: span 2;
                height: 38px;
                aspect-ratio: 231/87;
                margin-right: 8px;

                border-radius: 2px;
              }

              .meter {
                --w: 58px;
                display: inline-grid;
                margin-left: 8px;

                opacity: .9;
              }

              >span:nth-of-type(n+2) {
                white-space: nowrap;
                overflow: hidden;
              }
              >span:nth-of-type(1) {
                grid-row: span 2;
                align-content: center;
                justify-self: center;

                color: #ebddf799;
                font-size: 11px;
                font-weight: 520;
                letter-spacing: -1px;
              }
              >span:nth-of-type(2) {
                align-self: end;

                color: #ebddf7;
                font-size: 12px;
                font-weight: bold;

                >span {
                  font-size: 10px;
                  font-weight: 500;
                  color: #ebddf7bf;
                }
              }
              >span:last-of-type {
                color: #d3beeb99;
                font-size: 10px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  >dl {
    position: relative;
    top: calc(32px + 2em);
    margin: 0 -32px;
    flex: 100%;
    display: grid;
    padding: 24px 32px;
    justify-content: center;

    background: #1b1325;
    border-radius: 4px;
    border-top: 1px solid #20182a;

    >dt, >dd {
      padding: 2px 32px 2px 80px;

      border-right: 1px solid #20182a;

      &:last-of-type {
        border: 0;
      }
    }
    >dt {
      grid-row: 2;

      color: #c4b0dd80;
      font-size: 12px;
      font-weight: 900;
      letter-spacing: .6px;
      text-transform: uppercase;
    }

    >dd {
      position: relative;
      margin-bottom: -4px;

      color: #ebddf7;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -.4px;

      &:before {
        --sz: 20px;

        content: '';
        position: absolute;
        width: var(--sz);
        height: $width;
        left: 42px;
        top: 43%;

        background: #d3beeb;
        mask: url(/svg/db.svg) no-repeat;
      }

      &:nth-of-type(2):before {
        --sz: 22px;
        left: 41px;

        mask-image: url(/svg/ranking.svg);
      }

      &:nth-of-type(3):before {
        mask-image: url(/svg/refresh.svg);
      }
    }

    @media (max-width: 500px) {
      display: flex;
      flex-flow: column-reverse;

      >dt {
        margin-bottom: 1em;
      }
    }
  }
}
