@import "inc/func/icons";

section.stats {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  max-width: 60rem;
  margin: 4em auto 1em;

  dl {
    position: relative;
    margin-bottom: .5rem;
    padding-right: 1.6em;

    letter-spacing: -.08em;
    filter: drop-shadow(1px 2px 1px #050a0d);
    border-right: 2px solid #bdbdbd;
  }
  dt {
    position: absolute;
    bottom: -.2em;
    right: 1.7rem;

    color: #8499db;
    font-size: 150%;
    font-style: italic;
  }
  dd {
    color: transparent;
    background: linear-gradient(179deg, #fff 10%, #c6c5c9 61%, #536280 62%, #bbb8c2 80%);
    -webkit-background-clip: text;
    font-size: 500%;
    font-weight: bold;
    letter-spacing: -.05em;
  }
}

section.rankings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, var(--max-width)));
  /* Actually will be 3 columns due to the gap. */
  max-width: calc(var(--max-width) * 4);
  gap: 5vh 2em;
  justify-content: center;
  align-items: end;
  margin: 1.5rem auto .5em;

  --max-width: 400px;
}

section.top10 {
  >header {
    position: relative;
    top: 4px;
    padding: 1rem;
    overflow: hidden;
    z-index: 0;

    background: linear-gradient(135deg, #0003, #08110830, #0003, #1c0d1c30);
    border-radius: 8px 8px 0 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 9px;
      z-index: -1;

      opacity: 0;
      background: linear-gradient(135deg, #1f202e, #373438, #282133, #291f29);
      box-shadow: 0 0 4px #ffc82c;

      transition: opacity 50ms;
    }
    &:hover:before {
      opacity: .7;
    }

    >h2 {
      margin: 0;
      height: 1.4em;
      line-height: 1;

      font-size: 150%;

      >a {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: $width;
        top: 0;
        left: 0;
        padding: 1rem;

        text-decoration: none;

        &:before {
          content: '';
          display: inline-block;
          width: 1em;
          height: $width;
          margin-right: .5ch;
          vertical-align: bottom;

          background: #7680ec;
          mask-repeat: no-repeat;
        }

        &.top250:before {
          #icons.cup();
          background: #c39a40;
        }
        &.TREND:before {
          #icons.trend();
          background: #e66262;
          mask-size: .8em;
          mask-position: 90%;
        }
        &.hidden_gems:before {
          width: 1.1em;

          #icons.gem();
          background: #41aaf0;
          mask-position: 0 100%;
        }
        &[class^='20']:before {
          #icons.dt365();
        }
        &.\37 day:before {
          #icons.dt7();
        }
        &.most_played:before {
          width: 1.1em;
          vertical-align: middle;

          #icons.gamepad();
        }
        &.price\2f under5:before {
          #icons.price();
        }
        &.discounts:before {
          #icons.discount();
          background: #3bb05c;
        }
        &.price\2f free:before {
          #icons.free();
          background: #3bb05c;
        }
        &[class^='tag/']:before {
          vertical-align: middle;

          #icons.tags();
          background: #6294ea;
        }
      }
    }

    >.group {
      float: right;
      padding: .4ex .8ch;
      position: relative;
      top: -2px;
      right: -1px;

      color: #d6d3c7;
      background: #7b6338;
      border-radius: 2px;
      font-size: 70%;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -.02em;

      &.budget {
        color: #c1d7c7;
        background: #357e49;
      }
      &.tag {
        color: #cbcfd8;
        background: #496ba7;
      }
    }

    >p {
      margin: .5em 0;

      color: #bab2b1;
      line-height: 1.2;
    }

    >ol {
      // Pop over area link.
      position: relative;
      display: inline-flex;
      gap: 1ch;
      top: -.2ex;

      font-size: 75%;

      >li {
        &:first-of-type:before {
          content: 'Related';
          margin-right: 1ch;
        }
      }
    }

    .micro.tier {
      margin: .5ch;

      font-size: 80%;
    }
  }

  >footer {
    >a {
      position: relative;
      top: -2px;
      right: 4px;
    }
  }
}
