@gutter-width: 2em;
// Space around the knob.
@space: 2px;

@text-colour: color-mix(var(--frm-fg) 50%, transparent);

// Negative mode.
@neg-colour: color-mix(@neg-knob-colour 70%, var(--frm-fg));
@neg-track-border-colour: color-mix(@neg-knob-colour 50%, transparent);
@neg-track-bg-colour: color-mix(@neg-knob-colour-h 20%, transparent);
@neg-knob-colour: #c9513e;
// Highlights.
@neg-colour-h: @neg-colour;
@neg-track-border-colour-h: @neg-track-border-colour;
@neg-knob-colour-h: #e8634f;

@transition-time: .15s;

label:has(>.switch), [role=checkbox] > label {
  display: inline-flex;
  align-items: center;
}

// Show focus outline on label when using keyboard navigation.
label:has(>.switch):focus-within:has(:focus-visible) {
  outline: 1px auto currentColor;
}

input[type=checkbox].switch {
  // Remove browser UI from flow.
  position: absolute;
  // Allow inputs to receive focus.
  opacity: 0;

  @checked-colour: var(--frm-ctrl-hi-fg);
  @track-height: 1.8ex;
  @track-margin: .7ch;

  // Switch UI.
  + span {
    position: relative;

    ~ span {
      color: @text-colour;

      &:hover {
        color: var(--frm-fg);
      }
    }

    // Knob.
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    // Gutter.
    height: @track-height;
    width: @gutter-width;

    background: var(--frm-ctrl-hard-bg);
    border: 1px solid var(--frm-ctrl-hard-brdr);
    border-radius: 1em;

    transition: @transition-time;

    // Knob.
    &:after {
      height: calc(@track-height - @space * 2);
      width: $height;
      left: @space;

      background: var(--frm-fg);
      border-radius: 1em;
      transition: @transition-time;
    }

    &:hover, &:has(+ span:hover) {
      border-color: var(--frm-ctrl-hard-brdr-hov);

      &:after {
        background: var(--frm-fg);
      }
    }
  }

  // Selected text.
  + span + span {
    margin-left: @track-margin;

    &:hover {
      color: var(--frm-fg);
    }

    // Deselected text.
    + span {
      order: -1;
      margin-right: @track-margin;
    }
  }

  &:checked {
    + span {
      &:after {
        left: calc(@gutter-width - @space);
        transform: translate(-100%, -50%);
      }
    }

    + span + span {
      color: @checked-colour;
    }

    &:hover + span {
      border-color: color-mix(var(--frm-ctrl-hi-fg) 50%, transparent);

      &:after {
        background: var(--frm-ctrl-hi-fg);
      }

      + span {
        color: var(--frm-ctrl-hi-fg);
      }
    }
  }

  // Negative mode: checkbox represents an option that is exclusionary.
  label.neg >& {
    &:checked {
      + span {
        border-color: @neg-track-border-colour;
        background: @neg-track-bg-colour;

        &:after {
          background: @neg-knob-colour;
        }

        &:hover, &:has(+ span:hover) {
          //&:before {
            border-color: @neg-track-border-colour-h;
          //}

          &:after {
            background: @neg-knob-colour-h;
          }
        }
      }

      + span + span {
        color: @neg-colour;
      }

      &:hover + span + span {
        color: @neg-colour-h;
      }
    }
  }

  // Option mode: checkbox represents two either/or options rather than one option in an on/off state.
  label.option >& {
    &:not(:checked) {
      + span + span + span {
        color: @checked-colour;
      }
      + span + span {
        color: @text-colour;
      }

      &:hover {
        + span + span + span {
          // Copy text highlight colour.
          &:extend(input[type=checkbox].switch:checked:hover + span + span);
        }
        + span {
          // Copy track highlights.
          &:extend(input[type=checkbox].switch:checked:hover + span all);

          + span {
            // Avoid applying text highlight to deselected option.
            color: var(--frm-fg);
          }
        }
      }
    }
  }

  // In option mode the track never dims because it is never "off". Otherwise, these are just further checked states.
  &:checked, label.option >& {
    + span {
      // Gutter.
      background: color-mix(var(--frm-ctrl-hi-fg) 30%, transparent);
      border-color: color-mix(var(--frm-ctrl-hi-fg) 50%, transparent);

      // Knob.
      &:after {
        background: var(--frm-ctrl-hi-fg);
      }
    }
  }

  ~ span {
    line-height: 1.2;

    transition: color @transition-time;
  }

  // Disabled mode (tri-state currently unsupported).
  &:disabled, label.option >&:disabled {
    + span {
      background: #202020;
      border-color: #555;

      &:after {
        background: #636b6e;
      }

      + span, + span + span {
        color: #828282;
      }
    }
  }
}

// Tri-state mode.
[role=checkbox] {
  // Hide browser radio controls.
  input:extend(input[type=checkbox].switch) {}

  >label {
    > input {
      // Copy track and gutter styles.
      + span:extend(input[type=checkbox].switch + span all) {}

      // Do not allow inputs to gain focus, since enclosing div has a tabindex to receive focus instead.
      visibility: hidden;

      ~ span {
        transition: color @transition-time;
      }

      // Indeterminate state.
      &:checked {
        + span {
          + span + span {
            color: @text-colour;
          }

          &:after {
            left: (@gutter-width / 2);
            transform: translate(-50%, -50%);
          }
        }

        &:hover {
          // Copy track unchecked highlights.
          + span:extend(input[type=checkbox].switch + span:hover all) {
            // Copy text unchecked colour.
            + span:extend(input[type=checkbox].switch + span + span:hover) {}
            + span + span:extend(input[type=checkbox].switch + span + span:hover) {}
          }
        }
      }
    }
  }

  // Far-right state.
  &[aria-checked="true"] {
    input:extend(input[type=checkbox].switch:checked all) {}
  }

  // Far-left state.
  &[aria-checked="false"] {
    input + span {
      color: inherit;

      border-color: @neg-track-border-colour;
      background: @neg-track-bg-colour;

      &:after {
        // Copy positioning from unchecked state.
        &:extend(input[type=checkbox].switch + span:after);

        transform: translateY(-50%);

        background: @neg-knob-colour;
      }

      + span + span {
        color: @neg-colour;
      }
    }

    &:hover {
      input + span {
        border-color: @neg-track-border-colour-h;

        &:after {
          background: @neg-knob-colour-h;
        }

        + span + span {
          color: @neg-colour-h;
        }
      }
    }
  }
}
