@import "func/icons";

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  flex-shrink: 0;

  font-weight: 450;
  background: linear-gradient(180deg, #14161c 70%, #171a21);

  >ol {
    display: flex;
    max-width: 629px;
    height: 38px;
    margin: 0 auto;
    justify-content: space-between;

    color: #aab3ce;
    letter-spacing: -.01em;

    >li {
      position: relative;
      padding: 0 1.3ch;
      align-content: center;

      cursor: pointer;
      border-radius: 3px;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 50%;

        background: #e0c17d;

        transition: all .15s;
      }
      &:hover {
        color: #cec3aa;

        &:after {
          width: 100%;
          left: 0;
        }
      }

      >div {
        @1: #d5dbed;
        @2: #aab6da;

        .sub-indent(@font-size) {
          // Gap (.6em) + width of icon (1.1em) scaled to rem.
          margin-left: calc(@font-size/16 * 1.7rem);
        }

        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 38px;
        translate: -50%;
        padding: 25px 23px 15px;

        cursor: auto;
        font-size: 17px;
        font-weight: 430;
        color: @1;
        background: #14191f;
        border-radius: 0 0 6px 6px;

        // Sibling or sub-links.
        >div > div {
          >a:first-child ~ a, >a.sub {
            color: @2;
            font-size: 15px;

            &:is(.sub) {
              .sub-indent(15);

              font-size: 14px;

              &:before {
                content: none;
              }
            }
          }
        }

        >div:nth-of-type(n+2) {
          // Divider.
          &:before {
            content: '';
            display: block;
            grid-column: 1 / -1;
            width: calc(100% + 12px);
            height: 1px;
            margin: 1.6ex -6px;

            background: #20252a;
          }
        }

        // Rankings.
        &:nth-of-type(1) {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 0 3.3ch;

          >div {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;

            // First row.
            &:nth-of-type(1) {
              white-space: nowrap;

              >div {
                // Fine adjustments.
                &:nth-of-type(2) > a {
                  margin-bottom: -.05em;
                }
                &:nth-of-type(3) > a {
                  margin: calc(5/7 / 2 * -.5em) 0;
                }

                >a:nth-of-type(1) {
                  line-height: 1;
                }
                >a:nth-of-type(2) {
                  .sub-indent(17);
                }
              }
            }

            // Second row.
            &:nth-of-type(2) {
              // Key links.
              >:nth-of-type(1) {
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-auto-rows: min-content;
                gap: .6ex;

                >a {
                  display: grid;
                  grid-template-columns: subgrid;
                  grid-column: 1 / -1;

                  color: @1;
                  font-size: 16px;
                }
              }

              // Lesser headings.
              >div:nth-of-type(n+2) > :first-child {
                margin-bottom: .1ex;

                font-size: 16px;
              }

              // Most reviewed.
              >div:nth-of-type(2) {
                >div {
                  display: grid;
                  grid-template-columns: repeat(5, min-content);
                  gap: .1ex .7ch;
                  float: right;

                  color: @2;
                  font-size: 14px;
                  text-align: center;

                  >:last-child {
                    grid-column: 1 / -1;
                    text-align: right;
                    margin-top: .2ex;
                  }
                }
              }

              // Platforms.
              >div:nth-of-type(3) {
                display: flex;
                flex-flow: column;

                >a:not(.sub) {
                  color: inherit;
                  font-size: 15px;
                }
              }
            }

            // Third row.
            &:nth-of-type(3) {
              font-size: 14px;

              >a {
                margin-top: .3ex;
              }
            }
          }
        }

        a, a:visited {
          white-space: nowrap;

          color: inherit;

          &[class] {
            display: flex;
            align-items: center;
            gap: .6em;

            &:before {
              content: '';
              width: 1.02em;
              aspect-ratio: 1;
              justify-self: center;

              mask: no-repeat right;
              background: #7680ec;
            }
          }

          &.cup:before {
            #icons.cup();
            background: #c39a40;
          }
          &.gem:before {
            #icons.gem();
            width: 1.1em;

            background: #41aaf0;
          }
          &.trend:before {
            #icons.trend();
            aspect-ratio: 5/7;

            background: #e66262;
            mask-position-y: top;
          }
          &.custom:before {
            #icons.custom();
            width: 1.1em;
          }
          &.pad:before {
            #icons.gamepad();
            width: 1.2em;
          }
          &.preview:before {
            #icons.preview();
            width: 1.1em;
          }
          &.bottom:before {
            #icons.bottom();
            width: .95em;
          }
          &.adult:before {
            #icons.adult();
            position: relative;
            left: .2ch;
            width: 1.1em;

            background: #d96bca;
          }
          &.review:before {
            #icons.review();
          }

          &.mac:before {
            #icons.mac();
          }
          &.linux:before {
            #icons.linux();
          }
          &.deck:before {
            #icons.deck();
          }
          &.vr:before {
            #icons.vr();
          }
        }

        span {
          white-space: nowrap;

          color: #818797;

          &.middot {
            display: inline-block;
            width: .2em;
            height: $width;
            vertical-align: middle;

            background: #aab6da;
            border-radius: 9px;
          }
        }

        .micro.tier {
          margin-left: .5ch;

          font-size: 11px;
        }
      }
    }
  }

  >div {
    display: none;
  }
}
