#icons() {
  .cup {
    mask-image: url('@{C250}/img/cup.svg');
  }

  .history {
    mask-image: url('@{C250}/img/history.svg');
  }

  .gem {
    mask-image: url('@{C250}/img/gem.svg');
  }

  .custom {
    mask-image: url('@{C250}/img/custom.svg');
  }

  .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .calendar {
    mask-image: url(/svg/calendar.svg);
  }

  .gamepad {
    mask-image: url(/svg/gamepad.svg);
  }

  .email {
    mask-image: url('@{C250}/img/email.svg');
  }

  .myrank {
    mask-image: url('@{C250}/img/cup%20star.svg');
  }

  .trend {
    mask-image: url(/svg/trend.svg);
  }

  .preview {
    mask-image: url(/svg/preview.svg);
  }

  .bottom {
    mask-image: url(/svg/bottom.svg);
  }

  .adult {
    mask-image: url(/svg/18+.svg);
  }

  .review {
    mask-image: url(/svg/review.svg);
  }

  .members {
    mask-image: url('@{C250}/img/user.svg');
  }

  .mac {
    mask-image: url(/svg/apple.svg);
  }
  .linux {
    mask-image: url(/svg/tux.svg);
  }
  .deck {
    mask-image: url(/svg/deck.svg);
  }
  .vr {
    mask-image: url(/svg/vr.svg);
  }

  .tags {
    mask-image: url('/svg/tag.svg');
  }
  .hierarchy {
    mask-image: url(/svg/hierarchy.svg);
  }

  .discount {
    mask-image: url(/svg/discount.svg);
  }
  .free {
    mask-image: url(/svg/free.svg);
  }
  .price {
    mask-image: url(/svg/$.svg);
  }

  .dt7 {
    mask-image: url(/svg/dt7.svg);
  }
  .dt30 {
    mask-image: url(/svg/dt30.svg);
  }
  .dt90 {
    mask-image: url(/svg/dt90.svg);
  }
  .dt365 {
    mask-image: url(/svg/dt365.svg);
  }

  .join {
    mask-image: url(/svg/arch.svg);
  }
  .user {
    mask-image: url('@{C250}/img/user.svg');
  }
  .group {
    mask-image: url(/svg/group.svg);
  }
  .info {
    mask-image: url(/svg/i.svg);
  }

  .discord {
    mask-image: url('@{C250}/img/discord logo.svg');
  }
  .steam {
    mask-image: url('/svg/steam.svg');
  }
  .patreon {
    mask-image: url('@{C250}/img/patreon.svg');
  }
  .x {
    mask-image: url('/svg/x.svg');
  }
}
