#icons() {
  .cup {
    mask-image: url(//s.steam250.com/img/cup.svg);
  }

  .history {
    mask-image: url(//s.steam250.com/img/history.svg);
  }

  .gem {
    mask-image: url(//s.steam250.com/img/gem.svg);
  }

  .custom {
    mask-image: url(//s.steam250.com/img/custom.svg);
  }

  .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .calendar {
    mask-image: url(/svg/calendar.svg);
  }

  .gamepad {
    mask-image: url(/svg/gamepad.svg);
  }

  .email {
    mask-image: url(//s.steam250.com/img/email.svg);
  }

  .myrank {
    mask-image: url(//s.steam250.com/img/cup%20star.svg);
  }

  .trend {
    mask-image: url(/svg/trend.svg);
  }

  .preview {
    mask-image: url(/svg/preview.svg);
  }

  .bottom {
    mask-image: url(/svg/bottom.svg);
  }

  .adult {
    mask-image: url(/svg/18+.svg);
  }

  .review {
    mask-image: url(/svg/review.svg);
  }

  .members {
    mask-image: url(//s.steam250.com/img/user.svg);
  }

  .mac {
    mask-image: url(/svg/apple.svg);
  }
  .linux {
    mask-image: url(/svg/tux.svg);
  }
  .deck {
    mask-image: url(/svg/deck.svg);
  }
  .vr {
    mask-image: url(/svg/vr.svg);
  }
}
