{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Steam Games between $10-$15{% endblock %}
{% block heading %}$10-15 Top 250{% endblock %}

{% block content %}
    <p>
        Top 250 best Steam games between $10 and $15.
    </p>
    <p class="note">
        If a game is on sale, its discount price will be used instead.
        For top discounts see <a href="/discounts{{ ext }}">Top 250 Discounts</a>.
    </p>
{% endblock %}
