{% extends'layout/ranking.twig' %}

{% block title %}Top 250 best Steam Games over $15{% endblock %}
{% block heading %}Over $15 250{% endblock %}

{% block content %}
    <p>
        Top 250 best Steam games over $15.
    </p>
    <p class="note">
        If a game is on sale, its discount price will be used instead.
        For top discounts see <a href="/discounts{{ ext }}">Top 250 Discounts</a>.
    </p>
{% endblock %}
