<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ block('title') ~ ' – Steam 250' }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    {% block meta %}{% endblock %}

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PJ9P8B3');</script>

    {# Google ads #}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {% block css %}
    <link rel="stylesheet" href="/c/250.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lobster%7cCodystar%7cCousine:400i&display=swap">
    {% endblock %}

    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:site_name" content="Steam 250" />
    <meta property="og:image" content="https://steam250.com/img/open%20graph/logo.png">
    <meta property="og:url" content="https://steam250.com/{{ page.id|replace({'index': ''}) }}">
    <meta property="og:description" content="Helping you find good games on Steam: impartial games rankings compiled from Steam gamer reviews.">

<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ9P8B3" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>

{{ block('body') }}
