@import "title.css";

:root {
    --reading-width: 34em;
    --user-height: 37px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #c7d5e0;
    background: #1b2838;
    font: 100%/1.4 sans-serif;
}
@media (max-width: 380px) {
    body {
        font-size: 4vw;
        line-height: 1.3;
    }
}

a {
    color: #cfab72;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9e814c;
}

h2 {
    margin-bottom: .7em;

    font-size: 105%;
    font-weight: bold;
}


#header {
    overflow: hidden;
    flex-shrink: 0;

    background: radial-gradient(25% 45% at center 60%, #212329, #171a21);
}
#header, #footer {
    background-color: #171a21;
}

#user {
    position: relative;
    z-index: 2;
    height: var(--user-height);
    margin-bottom: -2.5vw;
    padding: 6px;

    text-align: right;
    font-size: 80%;
}

/* Search */
#user > form {
    display: inline-block;
}
#user > form input:not(type) {
    color: #97a5cf;
    border: 0 solid #97a5cf;
    background: transparent;
    max-width: 0;

    transition: border-width .05s, max-width .2s;

    /* Firefox UA validation style override. */
    box-shadow: none;
    /* Chrome UA focus style override. */
    outline: none;
}
#user > form input:not(type):focus,
#user > form input:not(type):valid {
    max-width: 10em;

    border-bottom-width: 2px;
}
#user > form > label > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0 .25em;
    overflow: hidden;
    text-indent: 200%;
    vertical-align: middle;

    background: url('/svg/search.svg') no-repeat center;
}

#user .avatar {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    margin: 0 .5em;
    line-height: 0;
    vertical-align: middle;

    background: #3f7085;
    border: 1px solid #4c92ae;
}
#user button {
    margin: 0 .5em;
    padding: .3em .6em .4em;
    border: 1px solid #575a80;
    line-height: 1;

    color: #97a5cf;
    border-radius: 4px;
    cursor: pointer;
}
#user button:hover {
    background-color: #272a31;
}
#lin, #lout {
    display: none;
}
.lout #lout, .lin #lin {
    display: inline-block;
    line-height: var(--user-height);
}
#user #login {
    padding-left: calc(.6em + 14px);

    background: url('/svg/steam.svg') no-repeat 6px 45%;
    background-size: 14px 11px;
}

p {
    margin: 1.5em auto;

    text-align: justify;
}
p > img {
    float: right;
    max-width: 23%;
    min-width: 150px;
    margin: 0 0 .5em 1em;
    opacity: .85;
}

em {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

mark, b {
    color: #70c3ff;
    background-color: transparent;
}

dl {
    display: inline-block;
}
dt, dd {
    display: inline;
}
dt {
    font-weight: bold;
}

fieldset {
    margin: 1em .9em;
    padding: 1em;

    border: 1px solid #577083;
    border-radius: 3px;
}
legend {
    margin-left: -.3em;
    padding: 0 .3em;

    font-size: 60%;
    text-transform: uppercase;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
input[type=checkbox] + span {
    position: relative;
    padding-left: 2.6em;

    transition: color .15s;
}
input[type=checkbox]:checked + span {
    color: #a4c2b9;
}
input[type=checkbox] + span:before,
input[type=checkbox] + span:after {
    content: '';
    position: absolute;
}
input[type=checkbox] + span:before {
    height: .7em;
    width: 2em;
    top: 2px;
    left: 1px;

    background: #172230;
    border: 1px solid #718fa5;
    border-radius: 1em;
    transition: all .15s;
}
input[type=checkbox] + span:after {
    height: .71em;
    width: .75em;
    top: 3px;
    left: 1px;

    background: #a0b7c3;
    border-radius: 1em;
    transition: all .15s;
}
input[type=checkbox]:checked + span:before {
    background: #172730;
    border-color: #5d8bad;
}
input[type=checkbox]:checked + span:after {
    left: 2.2em;
    transform: translate(-100%, 0);

    background: #34c99f;
}

a.owned {
    position: relative;
    display: inline-block;
}
a.owned > img {
    opacity: .3;
}
a.owned:before {
    content: attr(data-content);
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 50%;
    max-width: 0;
    height: 18px;
    line-height: 19px;
    padding-left: 18px;
    margin-top: -9px;
    overflow: hidden;
    white-space: nowrap;

    color: #111;
    background: #4F95BD url('/svg/burger.svg') no-repeat 5px 50%;
    background-size: 8px 8px;
    font-size: 8pt;
    text-transform: uppercase;
    transition: max-width .3s, padding .2s;
}
a.owned:hover:before {
    max-width: 100%;
    padding-right: 5px;
}

.slogan {
    padding-bottom: .9em;

    font: calc(6px + 1vw)/.8 Codystar;
    color: #b3b5bd;
    text-shadow: 0 0 0 #b3b5bd, 0 0 3px #989976, 1px 1px 0 #000;
    text-transform: uppercase;
    text-align: center;
}
@media (min-width: 1300px) {
    .slogan {
        font-size: 19px;
    }
}
.d {
    font-size: 80%;
}

ol.menu {
    width: 100%;
    height: 36px;
    z-index: 10;
    flex-shrink: 0;
    /* Google cache fix for fixed menu. */
    top: 0;

    white-space: nowrap;
    text-align: center;
    background: linear-gradient(180deg, #14161c 70%, #171a21);
}
ol.menu > li {
    position: relative;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    margin: 0 1.79%;
    padding: 0 1%;

    cursor: pointer;
    color: #9e814c;
}
ol.menu > li:after {
    content: '▼';
    position: relative;
    top: -2px;
    line-height: 1;

    font-size: 65%;
    transition: top .15s;
}
ol.menu > li:hover:after {
    top: 1px;
}
ol.menu > li > a {
    color: #b3b5bd;
    text-decoration: none;
    transition: color .3s;
}
ol.menu > li:hover > a {
    color: #cfab72;
}
/* First level (some rules cascade to second level) */
ol.menu > li ol {
    position: absolute;
    top: 100%;
    left: 50%;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
    transform: translate(-50%, 0);

    text-align: left;
    background: #171a21;
    border-radius: 0 0 2px 2px;
    transition: max-height .3s .15s;
    box-shadow: 0 2px 3px rgba(38, 61, 91, .43);
}
ol.menu li:hover > ol {
    overflow: visible;
    max-height: 50vh;
    transition-delay: 0s;
}
ol.menu > li > ol > li {
    position: relative;
}
ol.menu > li ol li {
    display: block;
    line-height: 1;

    background: linear-gradient(90deg, transparent, #07080a, transparent) no-repeat bottom;
    background-size: 95% 1px;
}
ol.menu > li > ol li:last-of-type {
    background: none;
    border-radius: 0 0 2px 2px;
}
ol.menu > li ol li a:not([href]):after {
    content: '▶';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);

    font-size: 65%;
    transition: right .15s;
}
ol.menu > li ol li:hover a:not([href]):after {
    right: calc(1em - 3px);
}
ol.menu > li > ol li:hover {
    background: linear-gradient(90deg, #9e814c, #cfab72, #9e814c);
    text-decoration: none;
}
ol.menu > li ol li > a {
    display: block;
    min-width: 45px;
    padding: calc(.2em + 3px) .8em calc(.2em + 4px);
}
ol.menu > li ol li > a:last-of-type {
    padding-bottom: calc(.2em + 3px);
}
ol.menu > li > ol li:hover > a {
    color: #07080a;
    text-shadow: 1px 1px 1px #cfab72;
    text-decoration: none;
}
/* Second level */
ol.menu > li > ol > li > ol {
    position: absolute;
    top: 0;
    left: 99.5%;
    transform: none;
}
@media (max-width: 620px) {
    /* Second-level of final menu item expands to the left at small resolutions. */
    ol.menu > li:last-of-type > ol > li > ol {
        left: auto;
        right: 99.5%;
    }
}
/* Long second-level menus with smaller fonts and scrollbars. */
ol.menu > li:nth-child(3) > ol,
ol.menu ol ol.annual {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 90%;
}
ol.menu ol ol.annual {
    font-size: 90%;
    text-align: center;
}
/* Special */
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(4) > a {
    padding-left: 2.05em;

    background: url('/svg/patreon.svg') no-repeat calc(.8em + 2px) 50%;
    background-size: 13px;
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(3) > a {
    padding-left: 2.05em;

    background: url('/svg/twitter.svg') no-repeat calc(.8em - 2px) 50%;
    background-size: 18px;
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(3):hover {
    background-image: linear-gradient(90deg, #1572a3, #309bd9, #1572a3);
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(3):hover > a {
    text-shadow: 1px 1px 1px #309bd9;
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(2) > a {
    padding-left: 2.05em;

    background: url('/svg/discord.svg') no-repeat calc(.8em - 2px) 50%;
    background-size: 19px;
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(2):hover {
    background-image: linear-gradient(90deg, #4b60a6, #7289da, #4b60a6);
}
ol.menu > li:nth-child(5) > ol > li:nth-last-of-type(2):hover > a {
    text-shadow: 1px 1px 1px #7289da;
}
ol.menu > li:nth-child(5) > ol > li:last-of-type > a {
    padding-left: 2.05em;

    background: url('/svg/steam.svg') no-repeat .8em 50%;
    background-size: 15px;
}
ol.menu > li ol.t11g {
    overflow: hidden !important;
}

.countdown {
    position: absolute;
    padding: .5em .7em;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);

    color: #919599;
    background: #171b22;
    border: 1px solid #22344b;
    border-top-width: 0;
    border-left-width: 0;
    border-radius: 0 0 3px 3px;
    font: italic 72%/.8 Cousine;
    text-transform: uppercase;
}
.countdown > span {
    color: #9fa6b3;
}
.countdown.ready, .countdown.ready > a {
    animation: pulse .75s infinite alternate;
}
@keyframes pulse {
    0% { color: rgba(186, 190, 194, .2); }
}
.countdown.building > span {
    position: relative;
    top: 0;
    animation: bounce 1.5s ease-out infinite;
}
.countdown.building > span:nth-child(2) {
    animation-delay: .1s;
}
.countdown.building > span:nth-child(3) {
    animation-delay: .2s;
}
@keyframes bounce {
    20% { top: -.5em; }
    30% { top: 0; }
}
@media (max-width: 860px) {
    .countdown {
        font-size: 65%;
    }
}

.body {
    flex: 1 0 auto;
    position: relative;
    padding: 2em 0;

    background: linear-gradient(180deg, #263e5c, #22344b 6px, #1e2c3e 20px, #1d2a3c 30px, #1b2939 45px, #1b2838 60px)
        no-repeat;
    background-size: 100% 60px;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    max-width: 864px;
    /* Force margins to be enclosed. */
    overflow: hidden;
}
.content > p:first-of-type {
    font-size: 107%;
    text-align: center;
}

.quicklinks {
    margin: 1em auto;

    text-align: center;
    text-transform: uppercase;
    font-size: 80%;
    line-height: 1.5;
}
.quicklinks li {
    margin: .25em 0;
}
.quicklinks a:first-of-type {
    margin-left: 0;
}
.quicklinks a:last-of-type {
    margin-right: 0;
}
.quicklinks a {
    margin: 0 .3em;
}
.quicklinks > li:last-of-type > a {
    font-size: 120%;

    padding-left: 16px;
    background: url('/svg/patreon.svg') no-repeat left 45%;
    background-size: 12px;
}

p.note, p.tip {
    display: table;
    margin-top: -1em;

    opacity: .9;
    font-size: 70%;
}
p.note:before, p.tip:before {
    content: 'Note';
    display: table-cell;
    padding-right: .5em;

    font-size: 90%;
    text-transform: uppercase;
    color: #818b91;
}
p.tip:before {
    content: 'Tip';
}

p.notice {
    padding: 1em;
    font-size: 80%;
    line-height: 1.2;
    text-align: center;

    color: #70c3ff;
    background: #131e2c;
    border: 1px dotted #5c7495;
    border-radius: 4px;
}
p.notice::before {
    content: 'NOTICE';
    font-size: 80%;

    color: #c5e4fb;
}

.ranking {
    max-width: 950px;
    line-height: 1;
}
@media (max-width: 649px) {
    .ranking {
        font-size: 85%;
    }
}

.ranking > header {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.ranking > header > button:first-child {
    position: absolute;
    left: .5em;
    bottom: .6em;
    padding-left: 1.3em;
    height: 1.3em;

    background: url("/svg/settings.svg") no-repeat left;
    background-size: 1.2em .8em;
}
.ranking > header > button:first-child:after {
    content: attr(data-filtered);
    margin-left: .5em;
    position: relative;
    top: -.07em;

    color: #c9b734;
    font-size: 75%;
}
.ranking > header > form {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    text-align: center;

    background: rgba(27, 40, 56, .98);
    box-shadow: 3px 3px 5px rgba(18, 24, 35, .4);
    transition: max-height .3s;
}
.ranking > header > form.open {
    max-height: 200px;
}
.ranking fieldset {
    background: #1b2838;
}
.ranking label {
    margin: .5em;
    white-space: nowrap;
}
.ranking > header > form > fieldset > legend + * {
    margin-top: 0;
}

.ranking > header > h2:first-of-type {
    margin-left: 120px;
    padding-left: .5em;
}
@media (max-width: 520px) {
    .ranking > header > h2:first-of-type {
        /* Just an estimate since we can't measure it, but works surprisingly well. */
        margin-left: 23.5%;
    }
}
.ranking > header > h2:last-child {
    margin-left: auto;
    padding: 0;
}

.ranking > div {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 6px 0 0 auto;
}
.ranking > .filtered {
    max-height: 0;
    margin: 0;
    overflow: hidden;
}
.ranking > div:first-of-type {
    margin-top: 0;
}
.ranking > div:nth-of-type(2n-1),
.ranking > div.primary,
.r\&f li:nth-child(2n-1) > * {
    background-color: #1a2334;
}
.ranking > div.secondary {
    background-color: transparent;
}
.ranking > div > div:first-child img {
    max-width: 100%;
}

.ranking > div > div:first-child {
    flex-shrink: 0;
    width: 25%;
    max-width: 120px;
    min-width: 80px;

    line-height: 0;
}
.ranking > div > div:nth-child(2) {
    flex-grow: 1;
}
.ranking > div > div:nth-child(2),
.r\&f li > :nth-child(2) {
    padding-left: .5vw;
    padding-right: .5vw;
}
.ranking > div > div:nth-child(2) > * {
    vertical-align: middle;
}
.ranking > div > div:nth-child(3),
.ranking > header > h2:last-child {
    width: 10%;
    min-width: 4.5em;
    padding-right: .5vw;
    flex-shrink: 0;

    text-align: center;
}
.ranking > div > div:nth-child(3) > span {
    font-size: 80%;
}
.ranking > div > div:nth-child(3) > span:first-child {
    font-weight: bold;
}
@media (min-width: 850px) {
    .ranking > div > div:nth-child(3) > span:first-child {
        font-size: 100%;
    }
}
.votes {
    display: block;
}

.ranking > div > div > .title {
    /* Prevent breaking around title at small resolutions. */
    display: inline;
}
.ranking .links {
    display: inline-block;
    width: 13px;
    height: 0;
    padding: calc(13px / 2 + .1em) .1em;
    overflow: hidden;
    text-indent: -20px;

    background: url('/svg/link.svg') no-repeat 70% 50%;
    background-size: 13px;
    opacity: 0;
    transition: opacity .3s;
}
.ranking > div > div:nth-child(2):hover .links {
    opacity: .3;
}
.ranking > div > div:nth-child(2):hover .links:hover,
.ranking > div > div:nth-child(2) .links.show {
    opacity: .8;
}

.ranking > footer {
    margin: 1.5rem;

    text-transform: lowercase;
    text-align: center;
    font-size: 70%;
    opacity: .06;
}

.highlight {
    animation: forwards;
    animation-name: highlight, highlight-bg;
    animation-delay: 0s, .50s;
    animation-duration: 2s, 1.5s;
}
@keyframes highlight {
    25% {
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: none;
    }
    70% {
        box-shadow: 0 0 8px 4px #49a0cc;
    }
    to {
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 0 3px 2px #49a0cc;
    }
}
@keyframes highlight-bg {
    70% {
        background: #27556c;
    }
    to {
        background: #162b38;
    }
}

.movement {
    content: '';
    display: inline-block;
    width: 22px;
    height: 21px;
    line-height: 21px;
    margin-right: 1px;
    vertical-align: middle;
    position: relative;
    z-index: 0;

    text-align: center;
    font-weight: bold;
    cursor: default;
}
.movement.none {
    color: #a99370;
    font-weight: bold;
}
.movement.pos, .movement.neg {
    font-size: 79%;
    color: #e7f7c8;
}
.movement.neg {
    color: #f7d3cb;
}

.movement:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.movement.new:before {
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    background: #bfb34a;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.movement.none:before {
    background: #36383b;
    clip-path: inset(14% 14.5%);
    -webkit-clip-path: inset(14% 14.5%);
}
tr.a .movement.none:before {
    background: #363638;
}
.movement.pos:before {
    top: -3px;
    background: #546f38;
    clip-path: polygon(20% 100%, 20% 50%, 0% 50%, 50% 0%, 100% 50%, 80% 50%, 80% 100%);
    -webkit-clip-path: polygon(20% 100%, 20% 50%, 0% 50%, 50% 0%, 100% 50%, 80% 50%, 80% 100%);
}
.movement.neg:before {
    top: 2px;
    background: #6d4039;
    clip-path: polygon(20% 0%, 20% 50%, 0% 50%, 50% 100%, 100% 50%, 80% 50%, 80% 0%);
    -webkit-clip-path: polygon(20% 0%, 20% 50%, 0% 50%, 50% 100%, 100% 50%, 80% 50%, 80% 0%);
}
.r\&f .movement {
    width: 19px;
    height: 19px;
    line-height: 19px;
}
@media (max-width: 649px) {
    .movement {
        width: 14px;
        height: 14px;
        line-height: 14px;
    }
    .movement.pos:before {
        top: -2px;
    }
    .movement.neg:before {
        top: 1px;
    }
}

.ranking > div dl.reviews {
    display: block;

    font-size: 80%;
    line-height: 1.5;
}
.reviews dt {
    font-weight: normal;
    text-transform: uppercase;
}
.reviews img {
    margin: 0 1px;
    width: 18px;
    border: 1px solid #3f7085;
    vertical-align: text-bottom;
}
.reviews .n img {
    border-color: #914747;
}

.genre, .genre:visited,
.ref250, .ref250:visited,
.discount, .free, .vrx, .ea {
    margin-left: .25em;
    padding: .19em .6em;
    border-radius: 2px;
    white-space: nowrap;
    line-height: 1.24;

    font-size: 70%;
    color: #67c1f5;
    background: rgba(103, 193, 245, .2);
}
.ref250, .ref250:visited {
    color: #d9cc77;
    background: rgba(82, 76, 22, .7);
}

.genre[href*="//store.steampowered.com/"] {
    padding-left: calc(.25em + 15px);

    background-image: url('/svg/steam.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 4px 45%;
}
.genre:hover {
    text-decoration: none;
    color: #e6f7ff;
    background-color: rgba(103, 193, 245, .5);
}
.ref250:hover {
    text-decoration: none;
    color: #fffce8;
    background: #807d03;
}
.discount, .discount:visited, .free, .vrx, .ea {
    color: #b8d936;
    background: rgba(76, 107, 34, .7);
    border-radius: 0;
}
.discount:hover {
    text-decoration: none;
    color: #f0ffab;
    background: #5e802d;
}

.free, .free:visited,
.vrx, .vrx:visited,
.ea, .ea:visited {
    font-size: 68%;

    box-shadow: inset 0 0 0 1px #4c6b22;
    background: rgba(0, 0, 0, .05);
    text-transform: uppercase;
    color: #d2d9ad;
}
.free:hover {
    text-decoration: none;
    color: #fbffe6;
    box-shadow: 1px 1px 3px rgba(111, 156, 50, .3);
    text-shadow: 1px 1px 0 #6f9c32;
    background: #4c6b22;
}
.vrx, .vrx:visited {
    box-shadow: inset 0 0 0 1px #a25024;
}
.vrx:hover {
    text-decoration: none;
    color: #fbffe6;
    box-shadow: 1px 1px 3px rgba(212, 103, 49, .3);
    text-shadow: 1px 1px 0 #d46731;
    background: #a25024;
}
.ea, .ea:visited {
    box-shadow: inset 0 0 0 1px #4e81ae;
}
.ea:hover {
    text-decoration: none;
    color: #fbffe6;
    box-shadow: rgba(78, 129, 174, .3);
    text-shadow: #65a7e0;
    background: #4e81ae;
}

.games, .games:visited {
    display: inline-block;
    margin: 0 .25em;
    width: 1.7em;
    line-height: 1.7em;

    color: #d1d1cb;
    border: 1px solid #bdbdbd;
    font-size: 80%;
    text-align: center;
    border-radius: 2em;
    transition: all .1s;
}
.games:hover {
    color: #1c272d;
    background-color: #ddd9d0;
    border-color: #ddd9d0;
    text-decoration: none;
}

.date {
    margin-left: .25em;
    white-space: nowrap;
    font-size: 85%;
}
.date, .date > a {
    color: #cccecf;
    text-decoration: none;
}

.platforms {
    display: inline-block;
    margin-left: .25em;
}
.platforms > * {
    display: inline-block;
    width: 20px;
    height: 20px;

    background: no-repeat center;
    opacity: .3;
    transition: opacity .1s;
}
.platforms > a:hover {
    opacity: .8;
}
@media (max-width: 599px) {
    .platforms > * {
        width: 15px;
        height: 15px;
    }
}
.platforms > [title=Windows] {
    background: url(/svg/windows.svg) no-repeat 50% 55%;
    background-size: 75%;
}
.platforms > [title=Mac] {
    background-image: url(/svg/apple.svg);
    background-size: 70%;
}
.platforms > [title=Linux] {
    background-image: url(/svg/tux.svg);
    background-size: 85%;
}
.platforms > [title=HTC\ Vive] {
    background-image: url(/svg/vive.svg);
    background-size: 80%;
}
.platforms > [title=Oculus\ Rift] {
    background-image: url(/svg/oculus.svg);
    background-size: 85%;
}
.platforms > [title='Windows Mixed Reality'] {
    background-image: url(/img/wmr.png);
    background-size: cover;
}

.button, .button:visited {
    margin: 1em .8em;
    min-width: 5em;
    padding: .3em .7em;

    font-size: 90%;
    color: #b7d0e8;
    background: #2f4e6c;
    border-top: 1px solid #37576e;
    border-bottom: 2px solid #233852;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
    text-align: center;
    text-shadow: 0 1px 2px #467899;
    transition: all .1s;
    outline: none;
}
.button:hover {
    color: #bfedff;
    background: #3a6185;
    border-top-color: #48718c;
    border-bottom-color: #26415e;
    text-shadow: 0 1px 2px #5b94b3;
    text-decoration: none;
}
.button:active {
    top: 1px;
    color: #abc2d9;
    background: #2f4e6c;
    border-top-color: #1f354d;
    border-bottom-width: 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    text-shadow: none;
    transition: none;
}

.linkbar > .button {
    font-size: 80%;
    min-width: auto;
}
.linkbar .prev:before {
    content: '◀ ';
    font-size: 80%;
}
.linkbar .prev {
    float: left;
    margin-left: 0;
}
.linkbar .next {
    float: right;
    margin-right: 0;
}
.linkbar .next:after {
    content: ' ▶';
    font-size: 80%;
}

.players + .rating,
.owners + .rating {
    display: inline-block;
}

.r\&f {
    display: flex;
    flex-flow: wrap;
    line-height: 1;
}
/* Defaults for 2-column layout */
.r\&f > * {
    margin: 0 23px 23px 23px;
    min-width: 300px;
    max-width: calc(50% - 46px);
    width: 100%;
}
.r\&f > div:first-of-type {
    margin-top: 0;
}
.r\&f h2 {
    text-align: center;
}
.r\&f img {
    height: 34px;
}
.r\&f ol {
    display: table;
    width: 100%;
}
.r\&f li {
    display: table-row;
}
.r\&f li > * {
    display: table-cell;
    vertical-align: middle;
}
.r\&f li > :nth-child(2) {
    width: 100%;
}
/* Linked to r&f child min-width + margin, i.e. minimum width for 2-column layout. This is for single-column layout. */
@media (max-width: 691px) {
    .r\&f > * {
        max-width: none;
    }
    .r\&f h2 {
        text-align: left;
    }
}

.more, .more:visited {
    float: right;
    margin: .5em;

    color: inherit;
    font-size: 80%;
    font-weight: bold;
}
.more:hover {
    color: #e6f5ff;
    text-decoration: none;
    border-bottom: 1px solid #cfab72;
}

#linkmenu {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;

    font-size: 90%;
    background: #2a435b;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #141c26;
    transition: max-height .15s;
}
#linkmenu.show {
    max-height: 99px;
}
#linkmenu a {
    display: block;
    padding: calc(.2em + 3px) .6em calc(.2em + 4px);

    color: #59cbff;
    text-decoration: none;
}
#linkmenu > li {
    line-height: 1.1;

    background: linear-gradient(90deg, transparent, #315473, transparent) no-repeat bottom;
    background-size: 95% 1px;
}
#linkmenu > li:last-of-type {
    background: none;
}
#linkmenu > li:hover {
    background: linear-gradient(90deg, #417295, #498cb8, #417295) no-repeat bottom;
}
#linkmenu > li:hover a {
    color: #d6f3ff;
    text-shadow: 1px 1px 1px #498cb8;
}

.ranking-layout {
    margin-top: 1em;

    font-size: 95%;
}
.ranking-layout > :nth-child(3) {
    max-width: 864px;
    margin: 0 auto;
}
/* 2-column ranking */
@media (min-width: 1198px) {
    .ranking-layout {
        display: flex;
        justify-content: center;
    }
    .ranking-layout > :first-child {
        flex-shrink: 10;
    }
    .ranking-layout > :nth-child(n+2) {
        flex-shrink: 1;
    }
    .ranking-layout > :nth-child(2n-1) {
        width: 350px;
        margin: 0;
    }
    .ranking-layout > :nth-child(3) {
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 34px;
    }
    .r\&f > * {
        max-width: none;
        margin: 23px 0 0;
    }
}

#footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 2em 1.5em;

    font-size: 95%;
    line-height: 1.5;
}
#footer > * {
    max-width: 18em;
}
#footer > :nth-child(n+2) {
    margin-left: 4%;
}
#footer > :last-child > p:first-of-type > a {
    display: inline-block;
    padding-top: 1.2em;
    width: 5.7em;
    height: 0;
    overflow: hidden;
    text-indent: -99%;
    vertical-align: sub;

    background: url("/svg/discord text.svg") no-repeat -1%;
    background-size: auto 1.4em;
    opacity: .75;
    transition: opacity .2s;
}
#footer > :last-child > p:first-of-type > a:hover {
    opacity: 1;
}
#footer h2 {
    margin-bottom: .7em;

    font-size: 120%;
}
#footer h3 {
    margin: 1em 0 .5em;

    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
}
#footer p {
    margin: 1em 0;
}
#footer p:last-of-type {
    margin-bottom: 0;
}
#footer p, #footer li {
    text-align: left;
    font-size: 80%;
}
#footer img {
    height: 16px;
    opacity: .7;

    vertical-align: text-top;
}
#footer a {
    color: #9e814c;
}
@media (max-width: 780px) {
    #footer {
        flex-direction: column;

        line-height: inherit;
    }
    #footer > :nth-child(n+2) {
        margin: 1.5em 0 0;
    }
}
#footer .status > li:first-of-type > span {
    display: inline-block;
    margin: 0 .25em .2em 0;
}

a.twitter, a.patreon, a.discord, a.steam {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 0;
    margin-left: .25em;
    padding-top: 20px;
    vertical-align: text-bottom;

    background: no-repeat center;
}
a.twitter {
    background-image: url('/svg/twitter.svg');
    background-size: 24px;
}
a.patreon {
    opacity: .9;

    background-image: url('/svg/patreon.svg');
    background-size: 19px;
}
a.discord {
    background-image: url('/svg/discord.svg');
    background-size: 22px;
    background-position-y: -1px;
}
a.steam {
    background-image: url('/svg/steam.svg');
    background-size: 17px;
    background-position-y: 1px;
}

.fixedlinks {
    position: fixed;
    bottom: .7vh;
    right: .7vw;
}
.fixedlinks > :first-child {
    margin-right: .2em;
}
.fixedlinks > a {
    text-transform: uppercase;
    font-size: 85%;
    color: inherit;
    opacity: .2;
    transition: opacity .1s;
}
.fixedlinks > a:hover {
    opacity: .6;
    text-decoration: none;
}
a[href='#header']:before {
    content: '▲ ';
}
a[href='#footer']:before {
    content: '▼ ';
}
