<div class="linkbar">
    {% if ranking.id > constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualList::EARLIEST_YEAR') %}
        <a href="{{ (ranking.id - 1) ~ ext }}" class="prev">{{ (ranking.id - 1) }}</a>
    {% endif %}
    {% if ranking.id < 'now'|date('Y') %}
        <a href="{{ (ranking.id + 1) ~ ext }}" class="next">{{ (ranking.id + 1) }}</a>
    {% endif %}
</div>
