{% extends 'layout/template.twig' %}

{% block css %}
<link rel="stylesheet" href="/css/ambassadors.css">
{{ parent() }}
{% endblock %}

{% block title %}Steam 250 Ambassadors{% endblock %}
{% block heading %}Ambassadors{% endblock %}

{% block content %}
<p>Club 250 Ambassadors are elite members who support Steam 250 for at least $10 per month.</p>

<p>
    This page serves as a special thankyou to those that have made the largest contributions to Steam 250's
    growth. You can join them via our <a href="{{ patreon }}">Patreon page</a>.
    Choose your own graphic and link to decorate your name on this page, help make this site better
    and collect other rewards, too!
</p>

<div>
    <a href="" rel="nofollow" data-title="Francesco Jonus">Francesco Jonus</a>
</div>
{% endblock %}
